[ui-sref],
[ng-click]{
  cursor: pointer;
}

body.modal-open {
  padding-right:15px !important;
}

a[disabled] {
  pointer-events: none;
}

.fa-circle {
  color:@gray-light;
  &.active {
    color:@brand-success;
  }
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  transform: none !important; //prevent uibModal animation from sliding in (keep the fade in though)
}

.container-smooth {
  margin-left:0;
}