[ui-sref],
[ng-click],
[uib-dropdown-toggle]{
  cursor: pointer;
}

a[disabled] {
  pointer-events: none;
}

textarea {
  resize:vertical;
}

.fa-circle {
  color:@gray-light;
  &.active {
    color:@brand-success;
  }
}

.pagination {
  margin-top:0;
}

.container-smooth {
  margin-left:0;
}

.label[ng-repeat] {
  margin-right:3px;
  display:inline-block;
}

.table {
  > thead > tr > th {
    &[ng-click] {
      color:@link-color; //show sortable th as a link
    }
    .checkbox {
      margin:0;
    }
  }
  > tbody > tr > td {
    vertical-align: middle;
  }
}

li,
li a,
.list-group-item {
  > i:not(.fa-caret-down) {
    width:1em;
    text-align:center;
    margin-right:3px;
  }
}