<nav class="navbar navbar-default navbar-unstacked">
    <div class="container container-smooth">
        <ul class="nav navbar-nav navbar-left">
            <ul class="breadcrumb">
                <!--<li><a href="#"></a></li>-->
                <li><a href="" ui-sref="buyers">Buyers</a></li>
                <li class="active" ui-sref="buyer">{{buyer.selectedBuyer.Name}}</li>
            </ul>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-primary btn-sm navbar-btn" ng-click="buyer.createBuyer()"><i class="fa fa-plus-circle"></i>
                <span class="hidden-lg hidden-md">Buyer</span>
                <span class=" hidden-xs hidden-sm">New Buyer Organization</span>
            </button>
        </ul>
    </div>
</nav>
<article>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: application.$state.includes('catalogManagement')}">
            <a ui-sref="catalogManagement({ search: '', sortBy: ''})"><i class="fa fa-sitemap"></i> Catalog</a>
        </li>
        <li role="presentation" ng-class="{active: application.$state.includes('users')}">
            <a ui-sref="users({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-user"></i> Users</a>
        </li>
        <li role="presentation" ng-class="{active: application.$state.includes('userGroups')}">
            <a ui-sref="userGroups({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-users"></i> User Groups</a>
        </li>
        <li role="presentation" ng-class="{active: application.$state.includes('paymentMethods')}">
            <a ui-sref="paymentMethods({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-dollar"></i> Payment Methods</a>
        </li>
        <li role="presentation" ng-class="{active: application.$state.includes('giftCards')}">
            <a ui-sref="giftCards({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-gift"></i> Gift Cards</a>
        </li>
        <li role="presentation" ng-class="{active: application.$state.includes('promotions')}">
            <a ui-sref="promotions({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-bullhorn"></i> Promotions</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".settings"><i class="fa fa-cog"></i> Buyer Settings</a>
        </li>
    </ul>
    <br>
    <ui-view></ui-view>
</article>