<ul class="breadcrumb">
    <li><a href="" ui-sref="buyers">Buyers</a></li>
    <li class="active" ui-sref="buyer">{{buyer.selectedBuyer.Name}}</li>
</ul>
<div class="l-page-header l-page-header-xs">
    <div class="l-page-header__img" ng-if="buyer.selectedBuyer.xp && buyer.selectedBuyer.xp.image && buyer.selectedBuyer.xp.image.URL">
        <figure class="c-logo-display">
            <div role="img" ng-style="{'background-image':'url(\'' + buyer.selectedBuyer.xp.image.URL + '\')'}"></div>
        </figure>
    </div>
    <h3 class="l-page-header__title">
        {{buyer.selectedBuyer.Name}} <br>
        <small>(ID: {{buyer.selectedBuyer.ID}})</small>
    </h3>
</div>
<article>
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".settings"><i class="fa fa-cog"></i> Settings</a>
        </li>
        <li role="presentation" ng-class="{active: application.$state.includes('catalogManagement')}">
            <a ui-sref="catalogManagement({ search: '', sortBy: ''})"><i class="fa fa-sitemap"></i> Catalog</a>
        </li>
        <li role="presentation" class="hidden-xs" ng-class="{active: application.$state.includes('users')}">
            <a ui-sref="users({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-user"></i> Users</a>
        </li>
        <li role="presentation" class="hidden-xs" ng-class="{active: application.$state.includes('userGroups') || application.$state.includes('userGroup')}">
            <a ui-sref="userGroups({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-users"></i> User Groups</a>
        </li>
        <li role="presentation" class="hidden-xs" ng-class="{active: application.$state.is('addresses') || application.$state.is('address')}">
            <a ui-sref="addresses({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-map-marker"></i> Addresses</a>
        </li>
        <li role="presentation" class="hidden-xs hidden-sm hidden-md" ng-class="{active: application.$state.includes('creditCards')}">
            <a ui-sref="creditCards({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-credit-card"></i> Credit Cards</a>
        </li>
        <li role="presentation" uib-dropdown>
            <a uib-dropdown-toggle>More <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu-right" uib-dropdown-menu>
                <li role="presentation" class="visible-xs" ng-class="{active: application.$state.includes('users')}">
                    <a ui-sref="users({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-user"></i> Users</a>
                </li>
                <li role="presentation" class="visible-xs" ng-class="{active: application.$state.includes('userGroups')}">
                    <a ui-sref="userGroups({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-users"></i> User Groups</a>
                </li>
                <li role="presentation" class="visible-xs" ng-class="{active: application.$state.includes('addresses')}">
                    <a ui-sref="addresses({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-map-marker"></i> Addresses</a>
                </li>
                <li role="presentation" class="hidden-lg" ng-class="{active: application.$state.includes('creditCards')}">
                    <a ui-sref="creditCards({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-credit-card"></i> Credit Cards</a>
                </li>
                <li role="presentation" ng-class="{active: application.$state.includes('spendingAccounts')}">
                    <a ui-sref="spendingAccounts({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-dollar"></i> Spending Accounts</a>
                </li>
                <li role="presentation" ng-class="{active: application.$state.includes('costCenters')}">
                    <a ui-sref="costCenters({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-asterisk"></i> Cost Centers</a>
                </li>
                <li role="presentation" ng-class="{active: application.$state.includes('approvalRules')}">
                    <a ui-sref="approvalRules({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-check-square-o"></i> Approval Rules</a>
                </li>

                <!--TODO: waiting on more requirements for promotions-->
                <!--<li role="presentation" ng-class="{active: application.$state.includes('promotions')}">
                    <a ui-sref="promotions({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-bullhorn"></i> Promotions</a>
                </li>-->
            </ul>
        </li>

    </ul>
    <br>
    <ui-view></ui-view>
</article>