<article>
    <button class="btn btn-default" ui-sref="buyers">Buyers List</button>
    <div class="container-fluid">
        <h3 class="page-header">{{buyerDetails.selectedBuyer.Name}}</h3>
        <ul class="nav nav-pills">    
            <li ui-sref-active="active">
                 <a ui-sref="users">Users</a>
            </li>
            <li ui-sref-active="active">
                 <a ui-sref="userGroups">User Groups</a>
            </li>
            <li ui-sref-active="active">
                 <a ui-sref="catalogManagement">Catalog Management</a>
            </li>
        </ul>
        <div ui-view></div>
    </div>
</article>