<div ng-if="catalogAssignments.tree.length">
    <div ng-if="!catalogAssignments.category" class="well text-center">
        Select a category to view details
    </div>
    <div ng-if="catalogAssignments.category">
        <header>
            <div class="pull-right" oc-if-roles="CategoryAdmin">
                <button type="button" class="btn btn-default" ng-click="catalogAssignments.editCategory(catalogAssignments.category.ID)"><i class="fa fa-edit"></i> Edit</button>
                <button type="button" class="btn btn-danger" ng-click="catalogAssignments.deleteCategory(catalogAssignments.category.ID)"><i class="fa fa-trash"></i> Delete</button>
            </div>
            <h3>
                {{catalogAssignments.category.Name}}
                <small>(ID: {{catalogAssignments.category.ID}})</small>
            </h3>
            <p ng-bind-html="catalogAssignments.category.Description || '<em class=\'text-muted\'>No description</em>'"></p>
        </header>
        <uib-tabset>
            <uib-tab>
                <br>
                <uib-tab-heading>Products</uib-tab-heading>
                <div ng-if="!catalogAssignments.category" class="well text-center">
                    Select a category to view details
                </div>
                <!--Assign a Product to Category-->
                <div class="row" ng-if="catalogAssignments.category" oc-if-roles="CategoryAdmin">
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <ui-select multiple ng-model="catalogAssignments.selectedProducts" close-on-select="false">
                            <ui-select-match placeholder="Search and select products to add...">
                                {{$item.Name}}
                                <span ng-bind="$select.selected.Name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="product in (catalogAssignments.uiSelectProducts.Items | filter: $select.search) track by $index" refresh="catalogAssignments.listAllProducts($select.search)" refresh-delay="300">
                                <b><span ng-bind="product.Name"></span></b>
                                <br>
                                <small>
                                    <b>ID: </b>{{product.ID}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <button class="btn btn-primary btn-block" ng-disabled="!catalogAssignments.selectedProducts.length" ng-click="catalogAssignments.saveAssignment()"><i class="fa fa-plus-circle"></i> Add Products</button>
                    </div>
                </div>
                <hr>
                <div class="well text-center" ng-if="!catalogAssignments.products.Items.length">
                    This category does not contain any products.
                </div>
                <!--Product Assignment List-->
                <div class="table-responsive panel panel-default" ng-if="catalogAssignments.products.Items.length">
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col style="width:30%">
                            <col style="width:70%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th colspan="2">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in catalogAssignments.products.Items">
                            <td><a href="" ui-sref="productDetail({productid: product.ID})">{{product.ID}}</a></td>
                            <td>{{product.Name}}</td>
                            <td oc-if-roles="CategoryAdmin">
                                <button type="button" class="btn btn-xs btn-danger" uib-tooltip="Remove Product" tooltip-placement="left" ng-click="catalogAssignments.deleteAssignment(product)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center" ng-if="catalogAssignments.products.Meta.TotalPages > 1">
                    <uib-pagination boundary-links="catalogAssignments.products.Meta.TotalPages > 5"
                                    max-size="5" total-items="catalogAssignments.products.Meta.TotalCount"
                                    items-per-page="catalogAssignments.products.Meta.PageSize"
                                    ng-model="catalogAssignments.products.Meta.Page"
                                    ng-change="catalogAssignments.productPageChanged()">
                    </uib-pagination>
                </div>
            </uib-tab>
            <uib-tab oc-if-roles="['CategoryAdmin', 'BuyerReader', 'UserGroupReader']">
                <uib-tab-heading>Availability</uib-tab-heading>
                <br>
                <div ng-if="!catalogAssignments.category" class="well text-center">
                    Select a category to view details
                </div>
                <!-- -->
                <div ng-if="catalogAssignments.category">
                    <p>Assign to:
                    <form name="selectAssignmentType">
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="catalogAssignments.assignmentType" ng-change="catalogAssignments.toggleBuyerAssignment()" value="buyer">
                                    Buyer Organization
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="catalogAssignments.assignmentType" ng-change="catalogAssignments.toggleBuyerAssignment()" value="userGroups"> User Groups
                                </label>
                            </div>
                        </div>
                    </form>
                    <hr ng-if="catalogAssignments.assignmentType === 'userGroups'">
                </div>
                <!--Party Assignment List-->
                <div class="row" ng-if="catalogAssignments.category && catalogAssignments.assignmentType === 'userGroups'">
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <ui-select multiple ng-model="catalogAssignments.selectedUserGroups" close-on-select="false">
                            <ui-select-match placeholder="Type to search user groups">
                                {{$item.Name}}
                                <span ng-bind="$select.selected.Name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="userGroup in (catalogAssignments.uiSelectedGroups.Items | filter: $select.search) track by $index" refresh="catalogAssignments.listAllUserGroups($select.search)" refresh-delay="300">
                                <b><span ng-bind="userGroup.Name"></span></b>
                                <br>
                                <small>
                                    <div class="row">
                                        <div class="col-md-6">
                                            ID: {{userGroup.ID}}
                                        </div>
                                    </div>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <button class="btn btn-primary btn-block" ng-disabled="!catalogAssignments.selectedUserGroups.length" ng-click="catalogAssignments.savePartyAssignment()"><i class="fa fa-plus-circle"></i> Add Groups</button>
                    </div>
                </div>
                <hr ng-if="catalogAssignments.assignmentType === 'userGroups'">
                <div class="well text-center" ng-if="!catalogAssignments.userGroups.Items && catalogAssignments.assignmentType === 'userGroups'">
                    This category is not assigned to any user groups.
                </div>
                <div class="table-responsive panel panel-default" ng-if="catalogAssignments.userGroups.Items && catalogAssignments.assignmentType === 'userGroups'">
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col style="width:30%">
                            <col style="width:70%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th colspan="2">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="userGroup in catalogAssignments.userGroups.Items">
                            <th><a href="" ui-sref="userGroups.detail({usergroupid: userGroup.ID})">{{userGroup.ID}}</a></th>
                            <td>{{userGroup.Name}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" uib-tooltip="Remove User Group" tooltip-placement="left" ng-click="catalogAssignments.deletePartyAssignment(userGroup)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center" ng-if="catalogAssignments.userGroups.Meta.TotalPages > 1">
                    <uib-pagination boundary-links="catalogAssignments.userGroups.Meta.TotalPages > 5"
                                    max-size="5" total-items="catalogAssignments.userGroups.Meta.TotalCount"
                                    items-per-page="catalogAssignments.userGroups.Meta.PageSize"
                                    ng-model="catalogAssignments.userGroups.Meta.Page"
                                    ng-change="catalogAssignments.userGroupPageChanged()">
                    </uib-pagination>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
