<uib-tabset ng-if="catalogAssignments.tree.length">
    <uib-tab>
        <br>
        <uib-tab-heading>Products</uib-tab-heading>
        <div ng-show="!catalogAssignments.category" class="well text-center">
            Select a category to view details
        </div>
        <div class="row" ng-show="catalogAssignments.category">
            <div class="col-xs-12">
                <label>Select Product(s) to Add to Category {{catalogAssignments.category.Name}}</label>
                <ui-select multiple ng-model="catalogAssignments.selectedProducts" close-on-select="false">
                    <ui-select-match>
                        {{$item.Name}}
                        <span ng-bind="$select.selected.Name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="product in (catalogAssignments.listProducts.Items | filter: $select.search) track by $index" refresh="catalogAssignments.listAllProducts($select.search)" refresh-delay="1000">
                        <b><span ng-bind="product.Name"></span></b>
                        <br>
                        <small>
                    <div class="row">
                        <div class="col-md-6">
                            ID: {{product.ID}}
                            <br>
                            Description: {{product.Description}}
                        </div>
                    </div>
                </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-success btn-block" ng-disabled="!catalogAssignments.selectedProducts.length" ng-click="catalogAssignments.saveAssignment()"><i class="fa fa-plus-circle"></i> Add Products</button>
            </div>
        </div>
        <div ng-if="catalogAssignments.products.Items">
            <hr>
             <b class="pull-right">{{catalogAssignments.products.Meta.ItemRange[1] + ' of ' + catalogAssignments.products.Meta.TotalCount + ' results'}}</b>
            <table class="table table-hover oc-table-responsive">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>
                        </tH>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in catalogAssignments.products.Items">
                        <th scope="row">{{product.ID}}</th>
                        <td data-title="Name">{{product.Name}}</td>
                        <td data-title="Description">{{product.Description}}</td>
                        <td class="text-center">
                            <a class="fa fa-trash text-danger" ng-click="catalogAssignments.deleteAssignment(product)"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" ng-if="catalogAssignments.products.Meta.TotalPages > 1">
            <uib-pagination boundary-links="catalogAssignments.products.Meta.TotalPages > 5"
                    max-size="5" total-items="catalogAssignments.products.Meta.TotalCount"
                    items-per-page="catalogAssignments.products.Meta.PageSize"
                    ng-model="catalogAssignments.products.Meta.Page"
                    ng-change="catalogAssignments.pageChanged()">
            </uib-pagination>
        </div>
        </div>
    </uib-tab>
</uib-tabset>