<div class="l-page-header l-page-header-xs">
    <div class="l-page-header__btns">
        <button class="btn btn-default" type="button" ui-sref="product.catalogs"><i class="fa fa-chevron-left"></i> Catalogs</button>
    </div>
    <h3 class="l-page-header__title">
        {{productCategories.selectedCatalog.Name}} Categories <br>
        <small class="text-muted">Assign this product to categories using the checkboxes.</small>
    </h3>
</div>
<div ng-if="!productCategories.tree.length" class="no-matches">
    <b>There are no categories in this catalog. <span oc-if-roles="CategoryAdmin"><a ng-click="productCategories.createCategory()">Create one now.</a></span></b>
</div>
<div class="row" cg-busy="productCategories.loading">
    <div class="col-sm-6">
        <script type="text/ng-template" id="nodes_renderer.html">
            <div class="tree-node tree-node-content" cg-busy="node.loading" ng-class="{'selected-node': node.ID == productCategories.selectedCategoryID}">
                <i ng-if="node.children && node.children.length > 0" class="fa" ng-click="toggle(this)" ng-class="{
                        'fa-folder': !collapsed,
                        'fa-folder-open': collapsed
                    }">
                </i>
                <p ng-click="productCategories.categorySelected(node.ID)">{{node.Name}}</p>
                <i class="fa fa-circle" aria-hidden="true" ng-class="{'active':node.Active}"></i>
                <fieldset class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="{{'AssignCategory' + node.ID}}" ng-model="node.Assigned" ng-change="productCategories.updateAssignment(node)">
                    </label>
                </fieldset>
            </div>
            <ol ui-tree-nodes ng-model="node.children" uib-collapse="!collapsed">
                <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </script>
        <section ng-if="productCategories.tree.length" oc-readonly-roles="CategoryAdmin">
            <div ui-tree id="tree-root" data-drag-enabled="false">
                <ol ui-tree-nodes ng-model="productCategories.tree">
                    <li ng-repeat="node in productCategories.tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </section>
    </div>
</div>