.navbar.navmenu-on-canvas {
  left:@navmenu-width;
  @media(max-width:@screen-xs-max) {
    &-xs {
      &.navbar-fixed-top,
      &.navbar-fixed-bottom {
        left:@navmenu-width;
      }
    }
  }
  @media(min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
    &-sm {
      &.navbar-fixed-top,
      &.navbar-fixed-bottom {
        left:@navmenu-width;
      }
    }
  }
  @media(min-width:@screen-md-min) and (max-width:@screen-md-max) {
    &-md {
      &.navbar-fixed-top,
      &.navbar-fixed-bottom {
        left:@navmenu-width;
      }
    }
  }
  @media(min-width:@screen-lg-min) {
    &-lg {
      &.navbar-fixed-top,
      &.navbar-fixed-bottom {
        left:@navmenu-width;
      }
    }
  }
}

// Default navbar
.navbar-white {
  background-color: white;
  border-color: @gray-lighter;
  .breadcrumb {
    background-color:white;
  }
}

.navbar-breadcrumb {
  .breadcrumb;
  border:none;
  background-color:transparent;
  padding: @navbar-padding-vertical @navbar-padding-horizontal;
  margin:0;
  float:left;
  font-size:1em;
}

.navbar-left {
  .navbar-breadcrumb {
    &:first-child {
      padding-left:0;
      margin-left:0;
    }
  }
}
.navbar-right {
  .navbar-breadcrumb {
    &:last-child {
      padding-right:0;
      margin-right:0;
    }
  }
}

.navbar-default .nav {
  .navbar-breadcrumb {
    a {
      color:@navbar-default-link-color;
    }
    .active {
      color:@navbar-default-link-active-color;
    }
  }
}
.navbar-inverse .nav {
  .navbar-breadcrumb {
    a {
      color:@navbar-inverse-link-color;
    }
    .active {
      color:@navbar-inverse-link-active-color;
    }
  }
}