.navbar.navmenu-on-canvas {
  left:@navmenu-width;
  @media(max-width:@screen-xs-max) {
    &-xs {
      &.navbar-fixed-top,
      &.navbar-fixed-bottom {
        left:@navmenu-width;
      }
    }
  }
  @media(min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
    &-sm {
      &.navbar-fixed-top,
      &.navbar-fixed-bottom {
        left:@navmenu-width;
      }
    }
  }
  @media(min-width:@screen-md-min) and (max-width:@screen-md-max) {
    &-md {
      &.navbar-fixed-top,
      &.navbar-fixed-bottom {
        left:@navmenu-width;
      }
    }
  }
  @media(min-width:@screen-lg-min) {
    &-lg {
      &.navbar-fixed-top,
      &.navbar-fixed-bottom {
        left:@navmenu-width;
      }
    }
  }
}

.navbar-padding-top {
  padding-top:@body-padding-top;
}

.navbar-unstacked {
  .navbar-header {
    float: left !important;
    margin-right:0 !important;
    &:not(:first-child) {
      &,
      > .navbar-brand {
        margin-left:0 !important;
      }

    }
  }

  .navbar-nav {
    &,
    & > li {
      margin-top:0 !important;
      margin-bottom:0 !important;
      float: left !important;
      & > a {
        padding:15px !important;
      }
    }
    &.navbar-left {
      margin:0 !important;
      &:first-child {
        margin-left:-15px !important;
      }
    }
    &.navbar-right {
      float: right !important;
      margin-right:0;
    }
    .open {
      .dropdown-menu {
        position:absolute !important;
        background-color:@dropdown-bg;
        border:1px solid @dropdown-border;
        .box-shadow(0 6px 12px rgba(0,0,0,.175));
      }
    }
  }
}