<div class="form-group" ng-class="{'has-error': invalidExtension}">
    <figure >
        <div class="col-lg-3">
            <img class="img-responsive" ng-src="{{model.xp.image.URL || 'http://placehold.it/300x300'}}" alt="Product Image">
        </div>
    </figure>
    <p>
        <button type="button" class="btn btn-default" ng-click="upload()">{{model.xp.image.URL  ? 'Replace' : 'Upload'}}</button>
        <button type="button" class="btn btn-default" ng-click="remove()" ng-if="model.xp.image.URL "><i class="fa fa-trash text-danger"></i></button>
    </p>
    <input class="ng-hide" name="upload" type="file" id="orderCloudUpload" />
    <span class="help-block error-msg" ng-show="invalidExtension">Invalid File Type</span>
</div>