<div class="row">
    <div class="col-sm-8">
        <oc-product-images product="productImages.model"></oc-product-images>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" oc-readonly-roles="ProductAdmin">
        <fieldset class="form-group">
            <div class="checkbox">
                <label for="ZoomEnabled">
                    <input id="ZoomEnabled" name="ZoomEnabled" type="checkbox" ng-model="productImages.model.xp.imageZoom" ng-click="productImages.toggleZoom()"> Image Zoom Enabled
                </label>
            </div>
        </fieldset>
    </div>
</div>
