<article id="COMPONENT_GiftCards" ui-view class="container-fluid">
    <div class="page-header">
        <button type="button" class="btn btn-success pull-right" ui-sref=".create"><i class="fa fa-plus-circle"></i> Create New</button>
        <h3>Gift Cards</h3>
    </div>

    <!--====== SEARCH/FILTERS ======-->
    <form name="giftCardsSearchForm" class="form-inline" ng-submit="giftCards.search()">
        <fieldset class="form-group">
            <input type="search" placeholder="Search giftCards..." ng-model="giftCards.parameters.search" class="form-control">
        </fieldset>
        <fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
		<span ng-class="{'btn-group':giftCards.searchResults}">
			<button type="submit" class="btn btn-primary">Search</button>
			<button ng-if="giftCards.searchResults" ng-click="giftCards.clearSearch()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
		<span ng-class="{'btn-group':giftCards.filtersApplied}"  ng-if="application.$ocMedia('max-width:767px')">
			<button type="button" class="btn btn-default" ng-click="giftCards.showFilters = !giftCards.showFilters"><i class="fa fa-filter"></i> Filters</button>
			<button ng-if="giftCards.filtersApplied" ng-click="giftCards.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
        </fieldset>
    </form>
    <div class="row" style="margin-top:15px;" uib-collapse="!giftCards.showFilters">
        <div class="col-md-6 col-lg-4">
            <div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
                <label>Sort By:</label>
                <div ng-class="{'input-group':giftCards.sortSelection}">
                    <select placeholder="Sort" class="form-control" ng-model="giftCards.sortSelection" ng-change="giftCards.updateSort()">
                        <option value="">None</option>
                        <option value="ID">ID</option>
                        <option value="Name">Gift Card Name</option>

                    </select>
                    <div ng-if="giftCards.sortSelection" class="input-group-btn">
                        <button class="btn btn-default" ng-click="giftCards.reverseSort()">
                            <i class="fa fa-sort"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== LIST ======-->
    <div class="no-matches" ng-if="!giftCards.list.Items.length">
        <b>No matches found.</b>
    </div>
    <div ng-if="giftCards.list.Items.length">
        <b class="pull-right">{{(application.$ocMedia('min-width:768px') ? giftCards.list.Meta.ItemRange[0] : '1') + ' - ' +  giftCards.list.Meta.ItemRange[1] + ' of ' + giftCards.list.Meta.TotalCount + ' results'}}</b>
        <table class="table table-hover oc-table-responsive">
            <thead>
            <tr>
                <th scope="col">
                    <a href="#" role="button" ng-click="giftCards.updateSort('ID')">
                        ID
                        <i class="fa fa-caret-down" ng-show="giftCards.parameters.sortBy == 'ID'"></i>
                        <i class="fa fa-caret-up" ng-show="giftCards.parameters.sortBy == '!ID'"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="#" role="button" ng-click="giftCards.updateSort('Name')">
                        Gift Card Name
                        <i class="fa fa-caret-down" ng-show="giftCards.parameters.sortBy == 'Name'"></i>
                        <i class="fa fa-caret-up" ng-show="giftCards.parameters.sortBy == '!Name'"></i>
                    </a>
                </th>
                <th scope="col">
                    Balance
                </th>
                <th scope="col">
                    Start Date
                </th>
                <th scope="col">
                    End Date
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="giftCard in giftCards.list.Items">
                <th scope="row">{{giftCard.ID}}</th>
                <td data-title="Name">{{giftCard.Name}}</td>
                <td data-title="Balance">{{giftCard.Balance | currency }}</td>
                <td data-title="Start Date">{{giftCard.StartDate | date:'MM/dd/yyyy'}}</td>
                <td data-title="End Date">{{giftCard.EndDate | date:'MM/dd/yyyy'}}</td>
                <td class="actions-cell">
                    <button ui-sref=".edit({giftcardid:giftCard.ID})" class="btn btn-default btn-sm">Edit</button>
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>Assign <span class="caret"></span></button>
                        <ul class="dropdown-menu-right" uib-dropdown-menu role="menu">
                            <li role="menuitem"><a ui-sref=".assignGroup({giftcardid:giftCard.ID})">User Group</a></li>
                            <li role="menuitem"><a ui-sref=".assignUser({giftcardid:giftCard.ID})">User</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" ng-if="application.$ocMedia('min-width:768px') && giftCards.list.Meta.TotalPages > 1">
            <uib-pagination boundary-links="giftCards.list.Meta.TotalPages > 5"
                            max-size="5" total-items="giftCards.list.Meta.TotalCount"
                            items-per-page="giftCards.list.Meta.PageSize"
                            ng-model="giftCards.list.Meta.Page"
                            ng-change="giftCards.pageChanged()"></uib-pagination>
        </div>
        <button type="button"
                ng-if="application.$ocMedia('max-width:767px')"
                class="btn btn-default btn-block btn-lg"
                ng-show="giftCards.list.Meta.Page < giftCards.list.Meta.TotalPages"
                ng-click="giftCards.loadMore()">Load More</button>
    </div>
</article>