<h3 class="page-header">Assignments for {{giftCardAssign.giftCard.Name}}</h3>
<div class="well well-lg text-center" ng-if="!giftCardAssign.list.Items.length">
    <b>There are no User Groups under the active Buyer company</b>
</div>
<ordercloud-search servicename="UserGroups" controlleras="giftCardAssign"></ordercloud-search>
<section class="table-fixed-header" ng-if="giftCardAssign.list.Items.length">
    <div class="table-header-bg"></div>
    <div class="table-container" ordercloud-infinite-scroll servicename="UserGroups" controlleras="giftCardAssign" idname="UserGroupID">
        <table class="table table-hover">
            <colgroup>
                <col class="action-column">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th>
                    <div>ID</div>
                </th>
                <th>
                    <div>Name</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in giftCardAssign.list.Items track by $index">
                <td class="text-center">
                    <input name="{{'assignCheckbox' + $index}}" type="checkbox" ng-model="group.selected">
                </td>
                <td><p>{{group.ID}}</p></td>
                <td><p>{{group.Name}}</p></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<div class="form-group">
    <button type="button" class="btn btn-default" ui-sref="^"><i class="fa fa-arrow-left"></i> Back</button>
    <button type="button" class="btn btn-primary" ng-click="giftCardAssign.saveAssignments()">Update Group Assignments</button>
    <button type="button" class="btn btn-default" ui-sref="^.assignUser({giftcardid: giftCardAssign.giftCard.ID})">Assign Users</button>
</div>