<article class="container-fluid">
    <h3 ng-if="catalogSearchResults.products.Items.length" class="page-header">
        {{catalogSearchResults.products.Items.length > 1 ? 'Products' : 'Product'}}
    </h3>
    <div class="product-list row">
        <div class="col-md-3 " ng-repeat="product in catalogSearchResults.products.Items">
            <div class="product-item" ui-sref="catalog.product({productid: product.ID})">
                <h3 class="item-name">{{product.Name || product.ID}}</h3>
                <p class="item-id" ng-if="product.Name">{{product.ID}}</p>
                <div class="thumbnail-image">
                    <span class="fa-stack fa-5x" ng-if="!product.xp.image">
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div ng-if="product.xp.image">
                        <img class="img-responsive" ng-src="{{product.xp.image.URL}}" alt="Product Image">
                    </div>
                </div>
            </div>
                <ordercloud-product-quick-view product="product"></ordercloud-product-quick-view>
        </div>
    </div>
    <h3 ng-if="catalogSearchResults.categories.Items.length" class="page-header">
        {{catalogSearchResults.categories.Items.length > 1 ? 'Categories' : 'Category'}}
    </h3>
    <div class="product-list row">
        <div class="col-md-3 " ng-repeat="category in catalogSearchResults.categories.Items">
            <div class="product-item" ui-sref="catalog.category({categoryid: category.ID})">
                <h3 class="item-name text-center">{{category.Name || category.ID}}</h3>

                <div class="thumbnail-image">
                     <span class="fa-stack fa-5x" ng-if="!category.xp.image">
                        <i class="fa fa-camera fa-stack-1x"></i>
                         <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div>
                        <img class="img-responsive" ng-src="{{category.xp.image.URL}}" alt="Category Image">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="well well-lg text-center" ng-if="!catalogSearchResults.categories.Items.length && !catalogSearchResults.products.Items.length">
        <b><i class="fa fa-search"></i> No products or categories match your search.</b>
    </div>
</article>
