<article id="COMPONENT_PriceSchedules" ui-view>
    <div class="page-header">
        <button type="button" class="btn btn-success pull-right" ui-sref=".create"><i class="fa fa-plus-circle"></i> Create New</button>
        <h3>Price Schedules</h3>
    </div>

    <!--====== SEARCH/FILTERS ======-->
    <form name="PriceSchedulesSearchForm" class="form-inline" ng-submit="priceSchedules.search()">
        <fieldset class="form-group">
            <input type="search" placeholder="Search Price Schedules..." ng-model="priceSchedules.parameters.search" class="form-control">
        </fieldset>
        <fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
		<span ng-class="{'btn-group':priceSchedules.searchResults}">
			<button type="submit" class="btn btn-primary">Search</button>
			<button ng-if="priceSchedules.searchResults" ng-click="priceSchedules.clearSearch()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
		<span ng-class="{'btn-group':priceSchedules.filtersApplied}">
			<button type="button" class="btn btn-default" ng-click="priceSchedules.showFilters = !priceSchedules.showFilters"><i class="fa fa-filter"></i> Filters</button>
			<button ng-if="priceSchedules.filtersApplied" ng-click="priceSchedules.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
        </fieldset>
    </form>
    <div class="row" style="margin-top:15px;" uib-collapse="!priceSchedules.showFilters">
        <div class="col-md-6 col-lg-4">
            <div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
                <label>Sort By:</label>
                <div ng-class="{'input-group':priceSchedules.sortSelection}">
                    <select placeholder="Sort" class="form-control" ng-model="priceSchedules.sortSelection" ng-change="priceSchedules.updateSort()">
                        <option value="">None</option>
                        <option value="ID">ID</option>
                        <option value="Name">Name</option>
                        <option value="OrderType">Order Type</option>
                    </select>
                    <div ng-if="priceSchedules.sortSelection" class="input-group-btn">
                        <button class="btn btn-default" ng-click="priceSchedules.reverseSort()">
                            <i class="fa fa-sort"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Order Type</label>
                        <select ng-model="priceSchedules.parameters.filters.orderType" ng-change="priceSchedules.filter(true)" class="form-control">
                            <option value="">All</option>
                            <option value="Standard">Standard</option>
                            <option value="Replenishment">Replenishment</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== LIST ======-->
    <div class="no-matches" ng-if="!priceSchedules.list.Items.length">
        <b>No matches found.</b>
    </div>
    <div ng-if="priceSchedules.list.Items.length">
        <b class="pull-right">{{(application.$ocMedia('min-width:768px') ? priceSchedules.list.Meta.ItemRange[0] : '1') +
            ' - ' + priceSchedules.list.Meta.ItemRange[1] + ' of ' + priceSchedules.list.Meta.TotalCount + ' results'}}</b>
        <table class="table table-hover table-condensed oc-table-responsive">
            <thead>
            <tr>
                <th scope="col">
                    <a href="#" role="button" ng-click="priceSchedules.updateSort('ID')">
                        ID
                        <i class="fa fa-caret-down" ng-show="priceSchedules.parameters.sortBy == 'ID'"></i>
                        <i class="fa fa-caret-up" ng-show="priceSchedules.parameters.sortBy == '!ID'"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="#" role="button" ng-click="priceSchedules.updateSort('Name')">
                        Name
                        <i class="fa fa-caret-down" ng-show="priceSchedules.parameters.sortBy == 'Name'"></i>
                        <i class="fa fa-caret-up" ng-show="priceSchedules.parameters.sortBy == '!Name'"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="#" role="button" ng-click="priceSchedules.updateSort('OrderType')">
                        Order Type
                        <i class="fa fa-caret-down" ng-show="priceSchedules.parameters.sortBy == 'OrderType'"></i>
                        <i class="fa fa-caret-up" ng-show="priceSchedules.parameters.sortBy == '!OrderType'"></i>
                    </a>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="priceSchedule in priceSchedules.list.Items">
                <th scope="row">{{priceSchedule.ID}}</th>
                <td data-title="Name">{{priceSchedule.Name}}</td>
                <td data-title="Type">{{priceSchedule.OrderType}}</td>
                <td class="actions-cell">
                    <button type="button" class="btn btn-default btn-sm"
                            ui-sref="priceSchedules.edit({pricescheduleid: priceSchedule.ID})">Edit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" ng-if="application.$ocMedia('min-width:768px') && priceSchedules.list.Meta.TotalPages > 1">
            <uib-pagination boundary-links="priceSchedules.list.Meta.TotalPages > 5" max-size="5"
                            total-items="priceSchedules.list.Meta.TotalCount"
                            items-per-page="priceSchedules.list.Meta.PageSize" ng-model="priceSchedules.list.Meta.Page"
                            ng-change="priceSchedules.pageChanged()"></uib-pagination>
        </div>
        <button type="button"
                ng-if="application.$ocMedia('max-width:767px')"
                class="btn btn-default btn-block btn-lg"
                ng-show="priceSchedules.list.Meta.Page < priceSchedules.list.Meta.TotalPages"
                ng-click="priceSchedules.loadMore()">Load More
        </button>
    </div>
</article>