<div class="row">
    <div class="col-sm-5">
        <div ng-if="!catalogManagement.tree.length" class="no-matches">
            <b>There are no categories in this catalog. <span oc-if-roles="CategoryAdmin"><a ng-click="catalogManagement.createCategory()">Create one now.</a></span></b>
        </div>
        <script type="text/ng-template" id="nodes_renderer.html">
            <div class="tree-node tree-node-content" ng-class="{'inactive-node': !node.Active, 'selected-node': node.ID == catalogManagement.selectedCategoryID}">
                <i ng-if="node.children && node.children.length > 0" class="fa" ng-click="toggle(this)" ng-class="{
                        'fa-folder': !collapsed,
                        'fa-folder-open': collapsed
                    }">
                </i>
                <p ng-click="catalogManagement.categorySelected(node.ID)">{{node.Name}}</p>
                <i ui-tree-handle class="fa fa-reorder text-muted"></i>
            </div>
            <ol ui-tree-nodes ng-model="node.children" uib-collapse="!collapsed">
                <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </script>
        <section ng-if="catalogManagement.tree.length">
            <div oc-if-roles="CategoryAdmin">
                <button type="button" class="btn btn-primary" ng-click="catalogManagement.createCategory()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    New Category
                </button>
                <br>
                <br>
            </div>
            <div ui-tree="catalogManagement.treeOptions" id="tree-root" data-drag-delay="200">
                <ol ui-tree-nodes ng-model="catalogManagement.tree">
                    <li ng-repeat="node in catalogManagement.tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </section>
    </div>
    <div class="col-sm-7" cg-busy="application.stateLoading('catalogManagement')" ui-view>
        <div ng-if="catalogManagement.tree.length && !catalogManagement.selectedCategoryID" class="well text-center">
            Select a category to view details
        </div>
    </div>
</div>