<!--<header class="l-page-header">
    <div class="l-page-header__title" style="flex:0 0 auto;">
        <span class="text-muted">User Group:</span>
    </div>
    <h3 class="l-page-header__title">
        {{userGroup.group.Name}}
        <br>
        <small>{{userGroup.group.ID}}</small>
    </h3>
</header>-->
<ol class="breadcrumb">
    <li><a href="" ui-sref="userGroups">User Groups</a></li>
    <li class="active">{{userGroup.group.Name}}</li>
</ol>
<div class="row">
    <div class="col-sm-4 col-lg-3">
        <nav class="navmenu navmenu-default navmenu-inline" role="navigation">
            <a href="" class="navmenu-brand">
                <i class="fa fa-bars pull-right visible-xs" ng-click="userGroup.showNav = !userGroup.showNav"></i>
                {{userGroup.group.Name}}
                <!--<br>
                <small>{{userGroup.group.ID}}</small>-->
            </a>
            <ul class="nav navmenu-nav" uib-collapse="!userGroup.showNav && (application.$ocMedia('max-width:767px'))">
                <li ng-class="{'active':application.$state.is('userGroup')}">
                    <a href="" ui-sref="userGroup"><i class="fa fa-cog"></i> Settings</a>
                </li>
                <li ui-sref-active="active">
                    <a href="" ui-sref=".security"><i class="fa fa-lock"></i> Security Profiles</a>
                </li>
                <li ui-sref-active="active">
                    <a href="" ui-sref=".members"><i class="fa fa-user"></i> Users</a>
                </li>
                <li ui-sref-active="active">
                    <a href="" ui-sref=".addresses"><i class="fa fa-map-marker"></i> Addresses</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-credit-card"></i> Credit Cards</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-dollar"></i> Spending Accounts</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-asterisk"></i> Cost Centers</a>
                </li>
            </ul>
        </nav>
        <!--<h3 class="page-title">
            {{userGroup.group.Name}} <br>
            <small>{{userGroup.group.ID}}</small>
        </h3>
        <p>{{userGroup.group.Description}}</p>-->
    </div>
    <article class="col-sm-8 col-lg-9" ui-view>
        <header class="l-page-header">
            <h3 class="l-page-header__title">User Group Settings</h3>
        </header>
        <div class="row">
            <div class="col-sm-9 col-lg-8">
                <form name="userGroup.editForm" class="form-horizontal" ng-submit="userGroup.update()">
                    <fieldset class="form-group">
                        <label for="userGroupID" class="col-sm-4 control-label">User Group ID</label>
                        <div class="col-sm-8">
                            <input type="text" id="userGroupID" class="form-control" name="ID" ng-model="userGroup.model.ID" placeholder="(Optional)" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name">
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="userGroupName" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="userGroupName" class="form-control" name="Name" ng-model="userGroup.model.Name" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="userGroupDescription" class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-8">
                            <textarea rows="4" id="userGroupDescription" class="form-control" name="Description" ng-model="userGroup.model.Description" placeholder="(Optional)"></textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary btn-block">Update User Group</button>
                        </div>
                    </fieldset>
                    <hr>
                    <button type="button" class="btn btn-danger btn-block"><i class="fa fa-trash-o"></i> Delete User Group</button>
                </form>
            </div>
        </div>
        <!--<h3 class="page-title">Members {{'(' + userGroup.users.Meta.TotalCount + ')'}}</h3>
        &lt;!&ndash;====== LIST ======&ndash;&gt;
        <div cg-busy="users.searchLoading">
            <div class="no-matches" ng-if="!userGroup.users.Items.length">
                <b>This user group does not have any members.</b>
            </div>
            <div ng-if="userGroup.users.Items.length">
                &lt;!&ndash;<b class="pull-right">{{(application.$ocMedia('min-width:768px') ? userGroup.users.Meta.ItemRange[0] : '1') + ' - ' +  userGroup.users.Meta.ItemRange[1] + ' of ' + userGroup.users.Meta.TotalCount + ' results'}}</b>&ndash;&gt;
                <table class="table table-hover oc-table-responsive">
                    <thead>
                    <tr>
                        <th scope="col">
                            <a href="#" role="button" ng-click="users.updateSort('ID')">
                                ID
                                <i class="fa fa-caret-down" ng-show="users.parameters.sortBy == 'ID'"></i>
                                <i class="fa fa-caret-up" ng-show="users.parameters.sortBy == '!ID'"></i>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="#" role="button" ng-click="users.updateSort('Username')">
                                Username
                                <i class="fa fa-caret-down" ng-show="users.parameters.sortBy == 'Username'"></i>
                                <i class="fa fa-caret-up" ng-show="users.parameters.sortBy == '!Username'"></i>
                            </a>
                        </th>
                        <th scope="col">
                            <a href="#" role="button" ng-click="users.updateSort('Email')">
                                Email
                                <i class="fa fa-caret-down" ng-show="users.parameters.sortBy == 'Email'"></i>
                                <i class="fa fa-caret-up" ng-show="users.parameters.sortBy == '!Email'"></i>
                            </a>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in userGroup.users.Items">
                        <td data-title="ID">{{user.ID}}</td>
                        <td data-title="Username">{{user.Username}}</td>
                        <td data-title="Email">{{user.Email}}</td>
                        <td scope="col">

                            <button class="btn btn-default btn-block btn-sm" type="button" ng-click="users.editUser(this)"><i class="fa fa-edit"></i> Edit</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="text-center" ng-if="application.$ocMedia('min-width:768px') && users.list.Meta.TotalPages > 1">
                    <uib-pagination boundary-links="userGroup.users.Meta.TotalPages > 8" max-size="5" total-items="userGroup.users.Meta.TotalCount" items-per-page="userGroup.users.Meta.PageSize" ng-model="userGroup.users.Meta.Page" ng-change="users.pageChanged()"></uib-pagination>
                </div>
                <button type="button"
                        ng-if="application.$ocMedia('max-width:767px')"
                        class="btn btn-default btn-block btn-lg"
                        ng-show="userGroup.users.Meta.Page < userGroup.users.Meta.TotalPages"
                        ng-click="users.loadMore()">Load More</button>
            </div>
        </div>-->
    </article>
</div>