<article ui-view>
    <button type="button" class="btn btn-default" aria-label="Close"
            ui-sref="products"><i class="fa fa-angle-left" aria-hidden="true"></i> Products
    </button>
    <div class="page-header">
        <h3>
            {{productDetail.product.Name}}
            <span class="text-center" data-title="Active">
                <i class="fa fa-circle" ng-class="{'active': productDetail.product.Active}"></i>
            </span>
            <div class="pull-right">
                <button class="btn btn-danger" ng-click="productDetail.deleteProduct()">Delete</button>
            </div>
        </h3>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5><b>Name: </b> {{productDetail.product.Name}} <i class="fa fa-edit" ng-click="productDetail.editFields(['Name'])"></i></h5>
            <h5><b>ID: </b> {{productDetail.product.ID}} <i class="fa fa-edit" ng-click="productDetail.editFields(['ID'])"></i></h5>
            <h5><b>Description: </b> {{productDetail.product.Description}} <i class="fa fa-edit" ng-click="productDetail.editFields(['Description'])"></i></h5>
            <h5><b>Quantity Multiplier: </b> {{productDetail.product.QuantityMultiplier}}x <i class="fa fa-edit" ng-click="productDetail.editFields(['QuantityMultiplier'])"></i></h5>
            <h5><b>Ship Weight: </b> {{productDetail.product.ShipWeight}} <i class="fa fa-edit" ng-click="productDetail.editFields(['ShipWeight'])"></i></h5>
            <h5><b>Ship Height: </b> {{productDetail.product.ShipHeight}} <i class="fa fa-edit" ng-click="productDetail.editFields(['ShipHeight'])"></i></h5>
            <h5><b>Ship Width: </b> {{productDetail.product.ShipWidth}} <i class="fa fa-edit" ng-click="productDetail.editFields(['ShipWidth'])"></i></h5>
            <h5><b>Ship Length: </b> {{productDetail.product.ShipLength}} <i class="fa fa-edit" ng-click="productDetail.editFields(['ShipLength'])"></i></h5>
            <h5 ng-if="productDetail.product.ShipFromAddressID"><b>Ship From Address: </b> {{productDetail.product.ShipFromAddressID}}</h5>
            <h5><b>Inventory Enabled: </b> <input type="checkbox" ng-model="productDetail.product.InventoryEnabled" ng-change="productDetail.patchField('InventoryEnabled')" /></h5>
            <div ng-if="productDetail.product.InventoryEnabled">
                <h5><b>Inventory Notification Point: </b> {{productDetail.product.InventoryNotificationPoint}} <i class="fa fa-edit" ng-click="productDetail.editFields(['InventoryNotificationPoint'])"></i></h5>
                <h5><b>Inventory Visible: </b> <input type="checkbox" ng-model="productDetail.product.InventoryVisible" ng-change="productDetail.patchField('InventoryVisible')" /></h5>
                <h5><b>Variant Level Inventory: </b> <input type="checkbox" ng-model="productDetail.product.VariantLevelInventory" ng-change="productDetail.patchField('VariantLevelInventory')" /></h5>
            </div>
        </div>
        <div class="col-sm-6">
            <oc-file-upload  model="productDetail.product" label="Image:" keyname="image" extensions="jpg, png, gif, jpeg, tiff" patch="productDetail.patchImage"></oc-file-upload>
        </div>
    </div>
    <!--<oc-assignment-list productid="productDetail.product.ID"></oc-assignment-list>-->
    <div class="page-header">
        <h3>
            Price schedules assigned to this product
            <button class="btn btn-primary pull-right" ui-sref=".createAssignment">
                <i class="fa fa-plus-circle"></i> New Assignment
            </button>
        </h3>
    </div>
    <div class="well well-lg text-center" ng-if="!productDetail.listAssignments">
        <b>This product does not have any assignments for the active Buyer company.</b>
    </div>
    <!--====== LIST ======-->
    <div ng-if="productDetail.listAssignments">

        <table class="table table-hover table-condensed oc-table-responsive">
            <thead>
            <tr>
                <th><div>Name</div></th>
                <th><div>ID</div></th>
                <th><div>First Price Break</div></th>
                <th><div>Buyers</div></th>
                <th><div>User Groups</div></th>
                <th><div></div></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" assignment  in productDetail.listAssignments">
                <td>{{assignment.PriceSchedule.Name}}</td>
                <td>{{assignment.PriceSchedule.ID}}</td>
                <td>{{assignment.PriceSchedule.PriceBreaks[0].Price | currency}}</td>
                <td>{{assignment.Buyers.length}}</td>
                <td>{{assignment.UserGroups.length}}</td>
                <td>
                    <button class="btn btn-default btn-sm pull-right" ui-sref=".priceScheduleDetail({pricescheduleid: assignment.PriceSchedule.ID})">View Details</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</article>
