<div class="l-page-header l-page-header-xs">
    <div class="l-page-header__btns">
        <button class="btn btn-default" type="button" ui-sref="buyerCatalogs"><i class="fa fa-chevron-left"></i> Catalogs</button>
    </div>
    <h3 class="l-page-header__title">
        {{buyerCatalog.selectedCatalog.Name}} Categories <br>
        <small class="text-muted">Assign categories to this buyer using the checkboxes.</small>
    </h3>
</div>
<div class="row" cg-busy="buyerCatalog.loading">
    <div class="col-sm-7 col-sm-push-5">
        <fieldset class="form-group">
            <div class="checkbox">
                <label for="ViewAllProducts" class="control-label">
                    <input id="ViewAllProducts" type="checkbox" ng-model="buyerCatalog.viewAllProducts" ng-change="buyerCatalog.updateCatalogAssignment('products')"> View All Products
                </label>
            </div>
            <div class="checkbox">
                <label for="ViewAllCategories" class="control-label">
                    <input id="ViewAllCategories" type="checkbox" ng-model="buyerCatalog.viewAllCategories" ng-change="buyerCatalog.updateCatalogAssignment('categories')"> View All Categories
                </label>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-5 col-sm-pull-7">
        <div ng-if="!buyerCatalog.tree.length" class="no-matches">
            <b>There are no categories in this catalog. 
                <span oc-if-roles="CategoryAdmin"> 
                    <br>
                    Categories can be added in <a ui-sref="categories({catalogid: buyerCatalog.selectedCatalog.ID})">catalog management</a>.
                </span>
            </b>
        </div>
        <script type="text/ng-template" id="nodes_renderer.html">
            <div class="tree-node tree-node-content" cg-busy="node.loading">
                <i ng-if="node.children && node.children.length > 0" class="fa" ng-click="toggle(this)" ng-class="{
                        'fa-folder': !collapsed,
                        'fa-folder-open': collapsed
                    }">
                </i>
                <p><a ui-sref="categories.category.products({catalogid:buyerCatalog.selectedCatalog.ID, categoryid:node.ID})" uib-tooltip="View Category" tooltip-placement="right" tooltip-popup-delay="1200">{{node.Name}}</a></p>
                <i class="fa fa-circle" aria-hidden="true" ng-class="{'active':node.Active}"></i>
                <fieldset class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" ng-disabled="buyerCatalog.viewAllCategories" name="{{'AssignCategory' + node.ID}}" ng-model="node.Assigned" ng-change="buyerCatalog.updateCategoryAssignment(node)">
                    </label>
                </fieldset>
            </div>
            <ol ui-tree-nodes ng-model="node.children" uib-collapse="!collapsed">
                <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </script>
        <section ng-if="buyerCatalog.tree.length">
            <div ui-tree id="tree-root" data-drag-enabled="false">
                <ol ui-tree-nodes ng-model="buyerCatalog.tree">
                    <li ng-repeat="node in buyerCatalog.tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </section>
    </div>
</div>