<ul class="breadcrumb">
    <li><a href="" ui-sref="products">All Products</a></li>
    <li class="active">{{productDetail.productName}}</li>
</ul>
<article>
    <header class="l-page-header">
        <h3 class="l-page-header__title">
            <span class="text-muted">Product:</span> {{productDetail.productName}}
        </h3>
    </header>
    <ul class="nav nav-tabs">
        <li ng-class="{active:application.$state.is('productDetail')}">
            <a href="" ui-sref="productDetail"><i class="fa fa-cube"></i> <span>Product</span></a>
        </li>
        <li ui-sref-active="active">
            <a href="" ui-sref=".specs"><i class="fa fa-edit"></i> Specs</a>
        </li>
        <li class="hidden-xs" ng-class="{active:application.$state.includes('productDetail.pricing') || application.$state.is('productDetail.createAssignment')}" oc-if-roles="['ProductAdmin', 'ProductAssignmentAdmin']">
            <a href="" ui-sref=".pricing"><i class="fa fa-dollar"></i> Pricing</a>
        </li>
        <li class="hidden-xs" ui-sref-active="active">
            <a href="" ui-sref=".shipping"><i class="fa fa-truck"></i> Shipping</a>
        </li>
        <li class="hidden-xs" ui-sref-active="active" ng-if="productDetail.inventoryEnabled">
            <a href="" ui-sref=".inventory"><i class="fa fa-clipboard"></i> Inventory</a>
        </li>
        <li role="presentation" class="visible-xs" uib-dropdown> <!--Mobile dropdown menu-->
            <a uib-dropdown-toggle>More <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu-right" uib-dropdown-menu>
                <li ng-class="{active:application.$state.includes('productDetail.pricing') || application.$state.is('productDetail.createAssignment')}" oc-if-roles="['ProductAdmin', 'ProductAssignmentAdmin']">
                    <a href="" ui-sref=".pricing"><i class="fa fa-dollar"></i> Pricing</a>
                </li>
                <li ui-sref-active="active">
                    <a href="" ui-sref=".shipping"><i class="fa fa-truck"></i> Shipping</a>
                </li>
                <li ui-sref-active="active" ng-if="productDetail.inventoryEnabled" oc-if-roles="InventoryAdmin">
                    <a href="" ui-sref=".inventory"><i class="fa fa-clipboard"></i> Inventory</a>
                </li>

            </ul>
        </li>
    </ul>
    <br>
    <div ui-view cg-busy="application.stateLoading('productDetail')">
        <div class="row">
            <div class="col-sm-8">
                <form name="productDetail.InfoForm" autocomplete="off" ng-submit="productDetail.updateProduct()" novalidate class="form-horizontal" oc-readonly-roles="ProductAdmin">
                    <fieldset class="form-group">
                        <label for="ProductID" class="col-sm-3 control-label">Product ID</label>
                        <div class="col-sm-9">
                            <input id="ProductID" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" type="text" class="form-control" ng-model="productDetail.product.ID" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="ProductName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input id="ProductName" type="text" class="form-control" ng-model="productDetail.product.Name" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="ProductDescription" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea rows="4" id="ProductDescription" placeholder="(Optional)" class="form-control" ng-model="productDetail.product.Description"></textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="QuantityMultiplier" class="col-sm-3 control-label">Qty Multiplier</label>
                        <div class="col-sm-9">
                            <input id="QuantityMultiplier" type="number" class="form-control" min="1" ng-model="productDetail.product.QuantityMultiplier" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="col-sm-3 control-label">Image</label>
                        <div class="col-sm-9">
                            <oc-file-upload  model="productDetail.product" label="Image:" patch="productDetail.patchImage(xp)" keyname="image" extensions="jpg, png, gif, jpeg, tiff"></oc-file-upload>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label for="InventoryEnabled">
                                    <input id="InventoryEnabled" name="InventoryEnabled" type="checkbox" ng-model="productDetail.product.InventoryEnabled"> Inventory Enabled
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="ProductActive">
                                    <input id="ProductActive" name="ProductActive" type="checkbox" ng-model="productDetail.product.Active"> Active
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" cg-busy="productDetail.productUpdateLoading" class="btn btn-primary btn-block">Update Product Info</button>
                        </div>
                    </fieldset>
                    <hr>
                    <button type="button" class="btn btn-danger btn-block" ng-click="productDetail.deleteProduct()"><i class="fa fa-trash-o"></i> Delete Product</button>
                </form>
            </div>
        </div>
    </div>
</article>
