<div class="page-header">
    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-success" ui-sref="^.create"><i class="fa fa-plus-circle"></i> Create New</button>
        <button ui-sref="^" class="btn btn-default"><i class="fa fa-table"></i> Category List</button>
    </div>
    <h3>Categories</h3>
</div><script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'inactive-node':!node.Active}">
        <i ng-if="node.children && node.children.length > 0" data-nodrag ng-click="toggle(this)"
           class="fa"
           ng-class="{
              'fa-folder': collapsed,
              'fa-folder-open': !collapsed
           }">
        </i>
        <p>{{node.Name}}</p>
        <a class="btn btn-default" data-nodrag ui-sref="^.edit({categoryid: node.ID})"><i class="fa fa-edit"></i> Edit</a>
    </div>
    <ol ui-tree-nodes ng-model="node.children" uib-collapse="collapsed">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<section>
    <div ui-tree="categoryTree.treeOptions" id="tree-root">
        <ol ui-tree-nodes ng-model="categoryTree.tree">
            <li ng-repeat="node in categoryTree.tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
</section>
<section></section>
