<form name="orderLineItemEditModal.form" class="form-horizontal" ng-submit="orderLineItemEditModal.submit()" novalidate autocomplete="off" oc-readonly-roles="OrderAdmin" cg-busy="orderLineItemEditModal.loading">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="orderLineItemEditModal.cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span class="text-muted">Editing: </span> Line Item {{orderLineItemEditModal.lineItemID}}</h4>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label for="lineItemID" class="control-label col-sm-3">ID</label>
            <div class="col-sm-9">
                <input id="lineItemID" name="ID" type="text" class="form-control" ng-change="orderLineItemEditModal.updateValidity()" placeholder="(Optional)" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" ng-model="orderLineItemEditModal.lineItem.ID" />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="lineItemQuantity" class="control-label col-sm-3">Quantity</label>
            <div class="col-sm-9">
                <input id="lineItemQuantity" name="Quantity" type="number" min="1" class="form-control" ng-model="orderLineItemEditModal.lineItem.Quantity" required/>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="lineItemUnitPrice" class="control-label col-sm-3">Unit Price</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-dollar"></i>
                    </span>
                    <input id="lineItemUnitPrice" name="UnitPrice" type="number" min="0" step="0.01" placeholder="0.00" class="form-control" ng-model="orderLineItemEditModal.lineItem.UnitPrice" required/>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="lineItemDateNeeded" class="control-label col-sm-3">Date Needed</label>
            <div class="col-sm-9">
                <input ng-if="application.isTouchDevice" type="date" class="form-control" ng-model="orderLineItemEditModal.lineItem.DateNeeded">
                <input id="lineItemDateNeeded" name="DateNeeded" ng-if="!application.isTouchDevice" type="text" class="form-control" ng-model="orderLineItemEditModal.lineItem.DateNeeded" uib-datepicker-popup="MM/dd/yyyy" is-open="dateNeeded.open" ng-click="dateNeeded.open = !dateNeeded.open">
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </div>
</form>
