<div ng-if="!catalogCategories.tree.length" class="no-matches">
    <b>There are no categories in this catalog. <span oc-if-roles="CategoryAdmin"><a ng-click="catalogCategories.createCategory()">Create one now.</a></span></b>
</div>
<div class="row" ng-if="catalogCategories.tree.length">
    <div class="col-sm-5">
        <div class="l-page-header l-page-header-xs">
            <h3 class="l-page-header__title">
                Categories
            </h3>
            <div class="l-page-header__btns" oc-if-roles="CategoryAdmin">
                <button type="button" class="btn btn-primary" ng-click="catalogCategories.createCategory()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    New Category
                </button>
            </div>
        </div>
        <script type="text/ng-template" id="nodes_renderer.html">
            <div class="tree-node tree-node-content" ng-class="{'inactive-node': !node.Active, 'selected-node': node.ID == catalogCategories.selectedCategoryID}">
                <i ng-if="node.children && node.children.length > 0" class="fa" ng-click="toggle(this)" ng-class="{
                        'fa-folder': !collapsed,
                        'fa-folder-open': collapsed
                    }">
                </i>
                <p ng-click="catalogCategories.categorySelected(node.ID)">{{node.Name}}</p>
                <i ui-tree-handle class="fa fa-reorder text-muted"></i>
            </div>
            <ol ui-tree-nodes ng-model="node.children" uib-collapse="!collapsed">
                <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </script>
        <section>
            <div ui-tree="catalogCategories.treeOptions" id="tree-root" data-drag-delay="200">
                <ol ui-tree-nodes ng-model="catalogCategories.tree">
                    <li ng-repeat="node in catalogCategories.tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </section>
    </div>
    <div class="col-sm-7" cg-busy="application.stateLoading('categories')" ui-view>
        <div ng-if="application.$state.is('categories') && catalogCategories.tree.length" class="well text-center">
            Select a category to view details
        </div>
    </div>
</div>