<form name="userGroupCreateModal.form" class="form-horizontal" ng-submit="userGroupCreateModal.submit()" novalidate>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="userGroupCreateModal.cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Creating New User Group</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="UserGroupIDInput" class="control-label col-sm-3">User Group ID:</label>
            <div class="col-sm-9">
                <input id="UserGroupIDInput" name="UserGroupIDInput" placeholder="(optional)" type="text" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" class="form-control" ng-model="userGroupCreateModal.userGroup.ID"/>
            </div>
        </div>
        <div class="form-group">
            <label for="UserGroupNameInput" class="control-label col-sm-3">User Group Name:</label>
            <div class="col-sm-9">
                <input id="UserGroupNameInput" name="UserGroupNameInput" type="text" class="form-control" ng-model="userGroupCreateModal.userGroup.Name" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="UserGroupDescriptionInput" class="control-label col-sm-3">Description:</label>
            <div class="col-sm-9">
                <textarea id="UserGroupDescriptionInput" placeholder="Describe this group..." name="UserGroupDescriptionInput" type="text" class="form-control" ng-model="userGroupCreateModal.userGroup.Description"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="userGroupCreateModal.form.$invalid">Save</button>
    </div>
</form>