<h3 class="page-header">
    <b>New Catalog</b>
</h3>
<form name="CreateForm" ng-submit="catalogCreate.Submit()" novalidate>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="catalogIDInput">CatalogID ID</label>
            <input id="catalogIDInput" ordercloud-auto-id type="text" class="form-control" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" ng-model="catalogCreate.catalog.ID"/>
        </div>
        <div class="col-sm-6 form-group">
            <label for="catalogNameInput">Catalog Name</label>
            <input id="catalogNameInput" type="text" class="form-control" ng-model="catalogCreate.catalog.Name" ng-required="true"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="catalogDescriptionInput">Description</label>
            <textarea id="catalogDescriptionInput" type="text" class="form-control" ng-model="catalogCreate.catalog.Description"></textarea>
        </div>
    </div>
</form>