<div>
    <h1>Configure product settings for {{productCreateAssignment.product.Name}}</h1>
    <h3>Choose a price</h3>
    <p class="text-muted">Choose a price to assign to product.</p>
    <div class="row">
        <div class="col-md-10">
            <label>Select Standard Price Schedule</label>

            <ui-select ng-model="productCreateAssignment.selectedPriceSchedule"
                       close-on-select="true" ng-change="productCreateAssignment.priceScheduleAssignments(productCreateAssignment.selectedPriceSchedule)">
                <ui-select-match>
                    <!--{{$item.MinQuantity}}-->
                    <span ng-bind="$select.selected.Name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="group in (productCreateAssignment.priceSchedules.Items | filter: $select.search ) track by $index"
                        refresh="productCreateAssignment.searchPriceSchedule($select.search)"
                        refresh-delay="1000">
                    <b><span ng-bind="group.Name"></span></b>
                    <br>
                    <small>
                        <div class="row">
                            <div class="col-md-6">
                                ID: {{group.ID}}
                                <br>
                                Min: {{group.MinQuantity}}
                                Max: {{group.MaxQuantity}}
                                <br>
                                <span ng-if="group.ApplyTax">Tax Applied<br></span>
                                <span ng-if="group.ApplyShipping">Shipping Applied</span>
                            </div>
                            <div class="col-md-6">
                                PriceBreaks:
                                <span ng-repeat="price in group.PriceBreaks"><br>Quantity: {{price.Quantity}}  Price: {{price.Price}} </span>
                            </div>
                        </div>
                        <br>
                    </small>
                </ui-select-choices>
            </ui-select>
            <br>
        </div>
        <div class="form-group col-md-2">
            <label></label>
            <button type="button" class="btn btn-primary form-control"
                    ng-click="productCreateAssignment.createPriceSchedule()"><i
                    class="fa fa-plus-circle"></i> Create New
            </button>
        </div>
    </div>
    <div uib-collapse="!productCreateAssignment.selectedPriceSchedule"><div class="panel panel-default">
            <div class="panel-heading">
                Price Schedule Details
                <button class="btn btn-default pull-right" ng-click="productCreateAssignment.editPriceSchedule(productCreateAssignment.selectedPriceSchedule)">Edit</button>
            </div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-md-6">
                      <label>ID:</label> {{productCreateAssignment.selectedPriceSchedule.ID}}
                      <br>
                      <label>Name:</label> {{productCreateAssignment.selectedPriceSchedule.Name}}
                      <br>
                      <label>Min Quantity:</label>{{productCreateAssignment.selectedPriceSchedule.MaxQuantity}}
                      <br>
                      <label>Max Quantity:</label>{{productCreateAssignment.selectedPriceSchedule.MinQuantity}}
                      <br>
                          <div ng-if="productCreateAssignment.selectedPriceSchedule.PriceBreaks"><label>Tax Applied</label></div>
                          <div ng-if="productCreateAssignment.selectedPriceSchedule.PriceBreaks"><label>Shipping Applied</label></div>
                  </div>
                  <div class="col-md-6">
                      <label>Price Breaks</label>
                      <hr>
                      <span ng-repeat="price in productCreateAssignment.selectedPriceSchedule.PriceBreaks"><label>Quantity: </label> {{price.Quantity}}  <label>Price: </label> {{price.Price}} <br></span>

                  </div>
              </div>
            </div>
        </div>


    </div>
    <hr>
    <div>
        <h3>Choose product availability </h3>
        <p class="text-muted">You can assign a product to a specific UserGroup or to the entire Buyer Company. UserGroup
            assignments will take precedent over Buyer assignments.</p>

        <div class="form-group">
            <label>Select Buyer</label>
            <ui-select ng-model="productCreateAssignment.selectedBuyer"
                       close-on-select="true"
                       ng-change="productCreateAssignment.getUserList(productCreateAssignment.selectedBuyer)">
                <ui-select-match>
                    <span ng-bind="$select.selected.Name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="group in (productCreateAssignment.buyers.Items | filter: $select.search) track by $index">
                    <span ng-bind="group.Name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <br>
        <div uib-collapse="!productCreateAssignment.selectedBuyer">
            <br>
            <div uib-collapse="productCreateAssignment.assignBuyer">
                <div class="well well-lg text-center" ng-if="!productCreateAssignment.list.Items.length">
                    <b><i class="fa fa-search"></i> No UserGroups under this buyer</b>
                </div>
                <div class="form-group" uib-collapse="!productCreateAssignment.list.Items.length">
                    <label>Select User Group(s)</label>
                    <ui-select multiple ng-model="productCreateAssignment.selectedUserGroups"
                               close-on-select="false">
                        <ui-select-match>
                            {{$item.Name}}
                            <span ng-bind="$select.selected.Name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="group in (productCreateAssignment.list.Items | filter: $select.search) track by $index">
                            <span ng-bind="group.Name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="productCreateAssignment.saveAssignment()"
                ng-disabled="!(productCreateAssignment.selectedBuyer && productCreateAssignment.selectedPriceSchedule )">
            Save Assignment
        </button>
    </div>
    <oc-assignment-list productid="productCreateAssignment.product.ID" buyerid="productCreateAssignment.selectedBuyer"></oc-assignment-list>
</div>
<hr>


<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary pull-right" aria-label="Done"
                ui-sref="products.detail({productid:productCreateAssignment.model.ProductID})" ui-sref-opts="{reload: true, inherit: false}">Done
        </button>
    </div>
</div>

</div>