<div ng-init="productPricing.priceSelected(priceScheduleDetail.data.PriceSchedule.ID)">
    <header>
        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="priceScheduleDetail.editPrice()"><i class="fa fa-edit"></i> Edit</button>
            <button type="button" class="btn btn-default" ng-click="priceScheduleDetail.deletePrice()"><i class="fa fa-trash text-danger"></i> Delete</button>
        </div>
        <h3>
            {{priceScheduleDetail.data.PriceSchedule.Name}}
            <small>(ID: {{priceScheduleDetail.data.PriceSchedule.ID}})</small>
        </h3>
        <p>
            <span ng-class="{
                'text-success':priceScheduleDetail.data.PriceSchedule.ApplyShipping,
                'text-warning':!priceScheduleDetail.data.PriceSchedule.ApplyShipping}">
                Shipping {{priceScheduleDetail.data.PriceSchedule.ApplyShipping ? 'Enabled' : 'Disabled'}}</span>,
            <span ng-class="{
                'text-success':priceScheduleDetail.data.PriceSchedule.ApplyTax,
                'text-warning':!priceScheduleDetail.data.PriceSchedule.ApplyTax}">
                Tax {{priceScheduleDetail.data.PriceSchedule.ApplyTax ? 'Enabled' : 'Disabled'}}
            </span>
        </p>
        <h5><b>Min Quantity: </b> {{priceScheduleDetail.data.PriceSchedule.MinQuantity}}</h5>
        <h5><b>Max Quantity: </b> {{priceScheduleDetail.data.PriceSchedule.MaxQuantity || 'None'}}</h5>
    </header>
    <ul class="nav nav-tabs" ng-init="priceScheduleDetail.activeTab = 'priceBreaks'">
        <li ng-class="{active:priceScheduleDetail.activeTab == 'priceBreaks'}"><a href="" ng-click="priceScheduleDetail.activeTab = 'priceBreaks'">Price breaks</a></li>
        <li ng-class="{active:priceScheduleDetail.activeTab == 'availability'}"><a href="" ng-click="priceScheduleDetail.activeTab = 'availability'">Availability</a></li>
    </ul>
    <br>
    <div ng-show="priceScheduleDetail.activeTab == 'priceBreaks'">
        <button class="btn btn-primary" ng-click="priceScheduleDetail.createPriceBreak()"><i class="fa fa-plus-circle"></i> Price Break</button>
        <br>
        <br>
        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered">
                    <colgroup>
                        <col style="width:45px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-center">
                            <input type="checkbox" ng-model="priceSchduleDetail.allBreaksSelected">
                        </th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pb in priceScheduleDetail.data.PriceSchedule.PriceBreaks | orderBy:'Quantity'">
                        <td class="text-center">
                            <input type="checkbox" ng-model="pb.selected">
                        </td>
                        <td>{{pb.Quantity}}</td>
                        <td>{{pb.Price | currency}}<!-- <span class="pull-right" ng-click="priceScheduleDetail.deletePriceBreak(this)"><i class="fa fa-times text-danger"></i></span>--></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="priceScheduleDetail.activeTab == 'availability'">
        <button class="btn btn-primary" ng-click="priceScheduleDetail.createAssignment()"><i class="fa fa-plus-circle"></i> Assignment</button>
        <br>
        <br>
        <div class="panel panel-default" ng-repeat="buyer in priceScheduleDetail.data.Buyers">
            <div class="panel-body">
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-plus-circle"></i> User Group</button>
                    <button type="button" class="btn btn-default btn-sm" uib-tooltip="Remove Buyer" tooltip-placement="bottom-left"><i class="fa fa-times text-danger"></i></button>
                </div>
                <h5 style="margin:0;">
                    <b>{{buyer.Name}}</b> <br>
                    <small>(ID: {{buyer.ID}})</small>
                </h5>
                <p class="small text-center text-muted" style="margin-top:15px; margin-bottom:0;" ng-if="buyer.Assigned">This price is assigned to the entire buyer organization.</p>
            </div>
            <div class="table-responsive" ng-if="!buyer.Assigned">
                <table class="table table-condensed table-hover table-bordered">
                    <colgroup>
                        <col style="width:45px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-center">
                            <input type="checkbox" ng-model="userGroup.selected">
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="userGroup in buyer.UserGroups">
                        <td class="text-center">
                            <input type="checkbox" ng-model="userGroup.selected">
                        </td>
                        <td>
                            <a href="" ui-sref="userGroups.detail({buyerid:buyer.ID, usergroupid:userGroup.ID})">{{userGroup.ID}}</a>
                        </td>
                        <td>{{userGroup.Name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="checkbox" ng-if="buyer.Assigned">
                <label>
                    <input type="checkbox" ng-model="buyer.Assigned" ng-change="priceScheduleDetail.buyerAssignmentChange(buyer)" />
                    {{buyer.Name}}
                </label>
            </div>
            <p ng-if="!buyer.Assigned"><b>{{buyer.Name}}</b></p>
            <div ng-if="!buyer.Assigned">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="userGroup in buyer.UserGroups">
                        {{userGroup.Name}}
                        <span class="pull-right" ng-click="priceScheduleDetail.deleteUserGroupAssignment(buyer, userGroup)"><i class="fa fa-times text-danger"></i></span>
                    </li>
                </ul>
                <button class="btn btn-default btn-block" ng-click="priceScheduleDetail.addUserGroupAssignment(buyer)"><i class="fa fa-plus-circle"></i> Add New User Group</button>
            </div>
            <hr>-->
        </div>
        <!--
        <ul class="nav nav-tabs" ng-init="priceScheduleDetail.activeTab = 'buyers'">
            <li ng-class="{active:priceScheduleDetail.activeTab == 'buyers'}"><a href="" ng-click="priceScheduleDetail.activeTab = 'buyers'">Buyer Organizations</a></li>
            <li ng-class="{active:priceScheduleDetail.activeTab == 'groups'}"><a href="" ng-click="priceScheduleDetail.activeTab = 'groups'">User Groups</a></li>
        </ul>
        <br>
        <div ng-if="priceScheduleDetail.activeTab == 'buyers'">
            <ul class="list-group"  ng-if="(priceScheduleDetail.data.Buyers | filter:{'Assigned':true}).length">
                <li class="list-group-item" ng-repeat="buyer in priceScheduleDetail.data.Buyers">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="buyer.Assigned" ng-change="priceScheduleDetail.buyerAssignmentChange(buyer)" />
                            {{buyer.Name}}
                        </label>
                    </div>
                </li>
            </ul>
            <button class="btn btn-default btn-block" ng-click="priceScheduleDetail.createAssignment()"><i class="fa fa-plus-circle"></i> Add New Buyer Organization</button>
        </div>-->
    </div>
</div>
