<form name="ProductSpecOptionEditModalForm" ng-submit="productSpecOptionEdit.submit()" class="form-horizontal" autocomplete="off" novalidate cg-busy="productSpecOptionEdit.loading">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="productSpecOptionEdit.cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Edit Spec Option: {{productSpecOptionEdit.specOptionValue}}</h3>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label for="SpecOptionID" class="col-sm-3 control-label">ID:</label>
            <div class="col-sm-9">
                <input id="SpecOptionID" placeholder="(Optional)" type="text" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" class="form-control" ng-model="productSpecOptionEdit.specOption.ID" required />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="SpecOptionValue" class="col-sm-3 control-label">Value:</label>
            <div class="col-sm-9">
                <input id="SpecOptionValue" type="text" class="form-control" ng-model="productSpecOptionEdit.specOption.Value" required />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-9 col-md-offset-3">
                <div class="checkbox">
                    <label for="IsOpenText">
                        <input id="IsOpenText" type="checkbox" ng-model="productSpecCreate.spec.IsOpenText"/>
                        Open Text
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="SpecOptionMarkupType" class="col-sm-3 control-label">Markup Type:</label>
            <div class="col-sm-9">
                <select id="SpecOptionMarkupType" class="form-control" ng-model="productSpecOptionEdit.specOption.PriceMarkupType" ng-options="markupType.Value as markupType.Label for markupType in productSpecOptionEdit.markupTypes"></select>
            </div>
        </fieldset>
        <fieldset class="form-group" ng-if="productSpecOptionEdit.specOption.PriceMarkupType != 'NoMarkup'">
            <label for="SpecOptionMarkup" class="col-sm-3 control-label">Markup:</label>
            <div class="col-sm-9">
                <input id="SpecOptionMarkup" type="number" class="form-control" ng-model="productSpecOptionEdit.specOption.PriceMarkup" />
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-9 col-md-offset-3">
                <div class="checkbox">
                    <label for="DefaultOption">
                        <input id="DefaultOption" type="checkbox" ng-model="productSpecOptionEdit.specOption.DefaultOption"/>
                        Default Option
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-danger btn-block" ng-click="productSpecOptionEdit.deleteSpecOption()">Delete</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="ProductSpecOptionEditModalForm.$invalid">Save</button>
            </div>
        </div>
    </div>
</form>