<form class="form-horizontal" ng-submit="orderShipmentsEditItem.submit()" name="orderShipmentsEditItem.form" cg-busy="orderShipmentsEditItem.loading">
    <div class="modal-header">
        <button type="button" class="close" ng-click="orderShipmentsEditItem.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span class="text-muted">Editing: </span> Shipment Item {{orderShipmentsEditItem.itemID}}</h4>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label for="shipmentItemQuantityShipped" class="col-sm-4 control-label">Quantity Shipped</label>
            <div class="col-sm-8">
                <input id="shipmentItemQuantityShipped" name="QuantityShipped" type="number" class="form-control" ng-model="orderShipmentsEditItem.shipmentItem.QuantityShipped" min="0" max="{{orderShipmentsEditItem.shipmentItem.LineItem.Quantity}}" required />
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </div>
</form>