<form class="form-horizontal" ng-submit="orderShipmentsCreateItems.submit()" name="orderShipmentsCreateItems.form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="orderShipmentsCreateItems.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Shipment Items</h4>
    </div>
    <div class="modal-body">
        <!--====== LINE ITEM LIST ======-->
        <div class="panel panel-default table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Quantity in Shipment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'active': (lineItem.QuantityShipped == lineItem.Quantity || lineItem.ExistingShipmentItem)}" ng-repeat="lineItem in orderShipmentsCreateItems.lineItems.Items | ocCachedList:orderShipmentsCreateItems.selectedLineItemPage">
                    <th class="text-center">
                        <input type="checkbox" ng-model="lineItem.Selected" ng-disabled="lineItem.Quantity == lineItem.QuantityShipped || lineItem.ExistingShipmentItem" ng-change="orderShipmentsCreateItems.itemChange()" />
                    </th>
                    <td>{{lineItem.ID}}</td>
                    <td>
                        <span>{{lineItem.Product.Name}}</span>
                        <small class="text-muted">({{lineItem.Product.ID}})</small>
                    </td>
                    <td>
                        <span ng-if="lineItem.QuantityShipped == lineItem.Quantity">Shipped</span>
                        <span ng-if="lineItem.ExistingShipmentItem">Existing Item</span>
                        <div class="input-group input-group-sm" ng-if="lineItem.QuantityShipped < lineItem.Quantity && !lineItem.ExistingShipmentItem">
                            <input type="number" class="form-control" ng-model="lineItem.ShipQuantity" ng-change="orderShipmentsCreateItems.itemChange()">
                            <span class="input-group-addon">of {{lineItem.Quantity}}</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--====== LINE ITEM PAGINATION ======-->
        <ul uib-pagination
            class="pagination-sm pull-right hidden-xs"
            ng-if="orderShipmentsCreateItems.lineItems.Meta.TotalPages > 1"
            total-items="orderShipmentsCreateItems.lineItems.Meta.TotalCount"
            items-per-page="orderShipmentsCreateItems.lineItems.Meta.PageSize"
            max-size="5"
            boundary-links="orderShipmentsCreateItems.lineItems.Meta.TotalPages > 5"
            ng-model="orderShipmentsCreateItems.lineItems.Meta.Page"
            ng-change="orderShipmentsCreateItems.pageChanged()">
        </ul>
        <button type="button"
                class="btn btn-default btn-block btn-lg visible-xs"
                ng-show="orderShipmentsCreateItems.lineItems.Meta.Page < orderShipmentsCreateItems.lineItems.Meta.TotalPages"
                ng-click="orderShipmentsCreateItems.loadMore()">Load More</button>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="orderShipmentsCreateItems.form.$invalid">Save</button>
    </div>
</form>