<h3 class="page-header">
    <b>Edit Admin User Groups: </b> {{adminUserGroupEdit.adminUserGroupName}}
</h3>
<form name="adminUserGroupEditForm" ng-submit="adminUserGroupEdit.Submit()" novalidate>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="AdminUserGroupIDInput">Admin User Group ID</label>
            <input id="AdminUserGroupIDInput" type="text" class="form-control" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" ng-model="adminUserGroupEdit.adminUserGroup.ID" ng-required="true"/>
        </div>
        <div class="form-group col-sm-6">
            <label for="AdminUserGroupNameInput">Admin User Group Name</label>
            <input id="AdminUserGroupNameInput" type="text" class="form-control" ng-model="adminUserGroupEdit.adminUserGroup.Name" required="true"/>
        </div>
    </div>
    <div class="form-group">
        <label for="AdminUserGroupDescriptionInput">Description</label>
        <textarea id="AdminUserGroupDescriptionInput" type="text" class="form-control" ng-model="adminUserGroupEdit.adminUserGroup.Description"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="adminUserGroupEditForm.$invalid">Save</button>
        <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
        <button type="button" class="btn btn-default" ng-click="adminUserGroupEdit.Delete()"><i class="fa fa-trash text-danger"></i></button>
    </div>
    </div>
</form>