<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>
                    <span>Purchase Order</span>
                </h3>
            </div>
            <div class="col-sm-6">
                <div ng-if="payment.xp.PONumber">
                    <b>PO Number</b>
                    <div class="text-muted">
                        <span>{{payment.xp.PONumber}}</span>
                    </div>
                </div>
                <div ng-if="!payment.xp.PONumber">
                    <b>Details Not Available</b>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                <h3>
                    <span class="text-success">{{payment.Amount | currency}}</span>
                </h3>
            </div>
        </div>
    </div>
</div>