<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>
                    <span>Credit Card</span>
                </h3>
            </div>
            <div class="col-sm-6">
                <div class="row" ng-if="payment.Details">
                    <div class="col-xs-2 text-center">
                        <i class="fa fa-2x {{payment.Details.CardType | faCreditCard}}"></i>
                    </div>
                    <div class="col-xs-10">
                        <b>{{payment.Details.CardholderName}}</b> <br ng-if="payment.Details.CardholderName">
                        <div class="text-muted">
                            <span>{{'XXXX-XXXX-XXXX-' + payment.Details.PartialAccountNumber}}</span><br>
                            <small>Expires On: {{payment.Details.ExpirationDate | date:'MM/yy'}}</small><br>
                            <small>({{payment.CreditCardID}})</small>
                        </div>
                    </div>
                </div>
                <div ng-if="!payment.Details">
                    <b>Details Not Available</b>
                    <div class="text-muted">
                        <small>({{payment.CreditCardID}})</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                <h3>
                    <span class="text-success">{{payment.Amount | currency}}</span>
                </h3>
            </div>
        </div>
    </div>
</div>