<h3 class="page-header">
    <b>New Address</b>
</h3>
<form name="AdminAddressCreateForm" ng-submit="adminAddressCreate.Submit()" novalidate>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressIDInput">Address ID</label>
            <input id="addressIDInput" type="text" class="form-control" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" ordercloud-auto-id ng-model="adminAddressCreate.adminAddress.ID"/>
        </div>
        <div class="col-sm-6 form-group">
            <label for="addressNameInput">Address Name</label>
            <input id="addressNameInput" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.AddressName" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="addressCompanyNameInput">Company Name</label>
            <input id="addressCompanyNameInput" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.CompanyName"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressFirstNameInput">First Name</label>
            <input id="addressFirstNameInput" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.FirstName"/>
        </div>
        <div class="col-sm-6 form-group">
            <label for="addressLastNameInput">Last Name</label>
            <input id="addressLastNameInput" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.LastName"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressStreet1Input">Street 1</label>
            <input id="addressStreet1Input" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.Street1" required/>
        </div>
        <div class="col-sm-6 form-group">
            <label for="addressStreet2Input">Street 2</label>
            <input id="addressStreet2Input" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.Street2"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressCityInput">City</label>
            <input id="addressCityInput" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.City" required/>
        </div>
        <div class="col-sm-3 form-group" ng-show="adminAddressCreate.adminAddress.Country == 'US' || adminAddressCreate.adminAddress.Country == 'CA'">
            <label for="addressStateInput">State</label>
            <select  id="addressStateInput" class="form-control" ng-options="state.value as state.label for state in adminAddressCreate.states" ng-model="adminAddressCreate.adminAddress.State" required/>
        </div>
        <div class="col-sm-3 form-group" ng-hide="adminAddressCreate.adminAddress.Country == 'US' || adminAddressCreate.adminAddress.Country == 'CA'">
            <label for="addressStateInput">State</label>
            <input  id="addressStateInput" class="form-control" ng-model="adminAddressCreate.adminAddress.State" required/>
        </div>
        <div class="col-sm-3 form-group">
            <label for="addressZipInput">Zip</label>
            <input id="addressZipInput" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.Zip" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="addressCountryInput">Country</label>
            <select  id="addressCountryInput" class="form-control" ng-options="country.value as country.label for country in adminAddressCreate.countries" ng-model="adminAddressCreate.adminAddress.Country" required/>
        </div>
        <div class="col-sm-6 form-group">
            <label for="addressPhoneInput">Phone Number</label>
            <input id="addressPhoneInput" type="text" class="form-control" ng-model="adminAddressCreate.adminAddress.Phone"/>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="AdminAddressCreateForm.$invalid">Save</button>
        <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
    </div>
</form>
