<div class="page-header">
    <h3>
        Configure Facets for {{facetedProdManage.product.Name}}
        <button type="button" class="btn btn-default pull-right" ui-sref="^"><i class="fa fa-arrow-left"></i> Back</button>
    </h3>
</div>
<div class="well well-lg text-center" ng-if="!facetedProdManage.assignedCategories.length">
    <b>The selected product does not have any category assignments.</b>
</div>
<div ng-repeat="cat in facetedProdManage.assignedCategories">
    <h4 class="page-header">
    {{cat.Name}}
    </h4>
    <div class="panel panel-default text-capitalize" ng-if="cat.xp.OC_Facets"  ng-repeat="(facetName, facet) in cat.xp.OC_Facets">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{facetName}}<span class="text-muted text-danger" ng-if="facet.isRequired">*</span>
            </h4>
        </div>
        <form name="prodxpForm">
            <div class="form-group">
                <table class="table">
                    <colgroup>
                        <col class="action-column"/>
                    </colgroup>
                    <tbody>
                    <tr ng-repeat="facetValue in facet.Values track by $index">
                        <td>
                            <input type="checkbox" ng-checked="facetedProdManage.setSelected(cat, facetName, facetValue)"
                                   ng-click="facetedProdManage.toggleSelection(cat, facetName, facetValue)"/>
                        </td>
                        <td>{{facetValue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div class="panel-body">
            <form name="{{'newValInput' + $index}}" ng-submit="facetedProdManage.addValueExisting(cat, facetName)">
                <div class="form-group">
                    <div class="input-group">
                        <input id="{{'newFacetValue' + $index}}" type="text" class="form-control" ng-model="facetedProdManage.newFacetValue[facetName]" placeholder="Add new value">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"><i class="fa fa-plus-circle"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" ng-disabled="facetedProdManage.requiredFacet(cat)" ng-click="facetedProdManage.saveSelections()" ng-if="cat.xp.OC_Facets">Save Configuration</button>
    <div class="well well-lg text-center" ng-if="!cat.xp.OC_Facets">
        <b>This category does not have any facets to configure. <a ui-sref="categoryFacets.manage({categoryid:cat.ID})">Go add some!</a></b>
    </div>
</div>