<form name="priceScheduleAssignment.form" ng-submit="priceScheduleAssignment.submit()" cg-busy="priceScheduleAssignment.loading">
    <div class="modal-header">
        <button type="button" class="close" ng-click="priceScheduleAssignment.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Assignment</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-if="!priceScheduleAssignment.preSelectedBuyer">
            <label>Select Buyer</label>
            <ui-select ng-model="priceScheduleAssignment.selectedBuyer"
                       close-on-select="true"
                       ng-change="priceScheduleAssignment.getBuyerUserGroups()">
                <ui-select-match>
                    <span ng-bind="$select.selected.Name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="group in (priceScheduleAssignment.buyers.Items | filter: $select.search) track by $index">
                    <span ng-bind="group.Name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-if="priceScheduleAssignment.selectedBuyer">
            <div class="form-group" ng-if="priceScheduleAssignment.buyerUserGroups.Items.length && !priceScheduleAssignment.preSelectedBuyer">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="priceScheduleAssignment.assignAtUserGroupLevel" />
                        Assign at User Group Level
                    </label>
                </div>
            </div>
            <div class="form-group" ng-if="priceScheduleAssignment.assignAtUserGroupLevel">
                <label>Select User Group(s)</label>
                <ui-select ng-model="priceScheduleAssignment.selectedUserGroup"
                           close-on-select="true">
                    <ui-select-match>
                        {{$item.Name}}
                        <span ng-bind="$select.selected.Name"></span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="userGroup in (priceScheduleAssignment.buyerUserGroups.Items | filter: $select.search) track by $index">
                        <span ng-bind="userGroup.Name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-primary" ng-disabled="priceScheduleAssignment.form.$invalid">Save</button>
    </div>
</form>