<!--==== No Prices Defined ====-->
<div class="no-matches" ng-if="productPricing.noPricesSet">
    This product does not have any pricing. <br>
    <a href="" ui-sref="^.createAssignment">Create one now</a>
</div>
<div class="row" ng-if="!productPricing.noPricesSet">
    <div class="col-sm-5">

        <!--==== Create New Assignment ====-->
        <button class="btn btn-primary" ui-sref="^.createAssignment">
            <i class="fa fa-plus-circle"></i> New Price
        </button>
        <br>
        <br>

        <!--==== Product Price Schedule List ====-->
        <div class="c-price-list">
            <div ng-repeat="assignment in productPricing.listAssignments"
                 ng-class="{'active':productPricing.selectedPrice.PriceSchedule.ID == assignment.PriceSchedule.ID}"
                 class="c-price-list__item"
                 ng-click="productPricing.selectPrice(this)">
                <!--==== Product Price Selection ====-->
                <h5 class="c-price-list__item__info">
                    {{assignment.PriceSchedule.Name}} <br>
                    <small>{{'ID: ' + assignment.PriceSchedule.ID}}</small>
                </h5>
                <div class="c-price-list__item__price">
                    {{assignment.PriceSchedule.PriceBreaks[0].Price | currency}}
                </div>
                <div class="c-price-list__item__buyers">
                    <small>Buyers</small>
                    <br>
                    {{assignment.Buyers.length}}
                </div>
                <div class="c-price-list__item__groups">
                    <small>Groups</small>
                    <br>
                    {{assignment.UserGroups.length}}
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-7" cg-busy="productPricing.loadingPrice">

        <!--==== No Price Selected Message ====-->
        <div class="well text-center" ng-if="!productPricing.selectedPrice">
            Select a price to view it's details and assignments.
        </div>

        <!--==== Selected Price ====-->
        <div ng-if="productPricing.selectedPrice">

            <!--==== Basic Price Schedule Information ====-->
            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="productPricing.editPrice()"><i class="fa fa-edit"></i> Edit</button>
                <button type="button" class="btn btn-danger" ng-click="productPricing.deletePrice()"><i class="fa fa-trash"></i> Delete</button>
            </div>
            <h3>
                {{productPricing.selectedPrice.PriceSchedule.Name}}
                <small>(ID: {{productPricing.selectedPrice.PriceSchedule.ID}})</small>
            </h3>
            <div class="row">
                <div class="col-xs-5">
                    <b class="text-primary" ng-if="productPricing.selectedPrice.PriceSchedule.RestrictedQuantity">
                        <i class="fa fa-lock"></i> Restricted Quantity <br>
                    </b>
                    <b class="text-primary" ng-if="!productPricing.selectedPrice.PriceSchedule.RestrictedQuantity">
                        <i class="fa fa-unlock-alt"></i> Open Quantity <br>
                    </b>
                    <span>
                        <b class="text-muted">Min Quantity: </b> {{productPricing.selectedPrice.PriceSchedule.MinQuantity}}
                        <br>
                    </span>
                    <span ng-if="productPricing.selectedPrice.PriceSchedule.MaxQuantity">
                        <b class="text-muted">Max Quantity: </b> {{productPricing.selectedPrice.PriceSchedule.MaxQuantity}}
                        <br>
                    </span>
                    <br>
                </div>
                <div class="col-xs-7">
                    <b class="text-success" ng-if="productPricing.selectedPrice.PriceSchedule.ApplyShipping">
                        <i class="fa fa-check"></i> Apply Shipping <br>
                    </b>
                    <b class="text-warning" ng-if="!productPricing.selectedPrice.PriceSchedule.ApplyShipping">
                        <i class="fa fa-times"></i> Apply Shipping <br>
                    </b>
                    <b class="text-success" ng-if="productPricing.selectedPrice.PriceSchedule.ApplyTax">
                        <i class="fa fa-check"></i> Apply Tax
                        <br>
                    </b>
                    <b class="text-warning" ng-if="!productPricing.selectedPrice.PriceSchedule.ApplyTax">
                        <i class="fa fa-times"></i> Apply Tax
                        <br>
                    </b>
                </div>
            </div>

            <!--==== Price Schedule Tabs ====-->
            <ul class="nav nav-tabs" ng-init="productPricing.activeTab = 'priceBreaks'">
                <li ng-class="{active:productPricing.activeTab == 'priceBreaks'}"><a href="" ng-click="productPricing.activeTab = 'priceBreaks'">Price breaks</a></li>
                <li ng-class="{active:productPricing.activeTab == 'availability'}"><a href="" ng-click="productPricing.activeTab = 'availability'">Availability</a></li>
            </ul>
            <br>

            <!--==== Price Breaks ====-->
            <div ng-show="productPricing.activeTab == 'priceBreaks'" cg-busy="productPricing.removePriceBreaksLoading">
                <button type="button"
                        class="btn btn-default pull-right"
                        ng-click="productPricing.removePriceBreaks()"
                        ng-if="(productPricing.selectedPrice.PriceSchedule.PriceBreaks | filter:{'selected':true}).length"><i class="fa fa-times"></i> Remove Price Breaks</button>
                <button class="btn btn-primary" ng-click="productPricing.createPriceBreak()"><i class="fa fa-plus-circle"></i> Price Break</button>
                <br>
                <br>
                <div class="panel panel-default table-responsive">
                    <table class="table table-condensed table-striped table-bordered l-pricebreak-table">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pricebreak in productPricing.selectedPrice.PriceSchedule.PriceBreaks | orderBy: 'Quantity' track by $index">
                            <td>
                                {{pricebreak.displayQuantity}}
                            </td>
                            <td>
                                <a href="" ng-click="productPricing.editPriceBreak(this)">{{pricebreak.Price | currency}}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block btn-xs" ng-click="productPricing.deletePriceBreak(this)"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--==== Assignments ====-->
            <div ng-show="productPricing.activeTab == 'availability'">
                <button class="btn btn-primary" ng-click="productPricing.createAssignment()"><i class="fa fa-plus-circle"></i> Assignment</button>
                <br>
                <br>
                <div class="panel panel-default" ng-repeat="buyer in productPricing.selectedPrice.Availability" cg-busy="productPricing.availabilityLoading[$index]">
                    <div class="panel-body">
                        <div class="pull-right">
                            <button type="button"
                                    class="btn btn-default btn-sm"
                                    ng-click="productPricing.removeUserGroupAssignments(this)"
                                    ng-if="(buyer.UserGroups | filter:{'selected':true}).length"><i class="fa fa-times"></i> Remove User Groups</button>
                            <button type="button"
                                    class="btn btn-default btn-sm"
                                    ng-click="productPricing.addUserGroupAssignment(this)"
                                    ng-if="!(buyer.UserGroups | filter:{'selected':true}).length"><i class="fa fa-plus-circle"></i> User Group</button>
                            <button type="button"
                                    class="btn btn-default btn-sm"
                                    uib-tooltip="Remove Buyer"
                                    ng-click="productPricing.removeBuyerAssignment(this)"
                                    tooltip-placement="bottom-left"><i class="fa fa-times"></i></button>
                        </div>
                        <h5 style="margin:0;">
                            <b>{{buyer.Name}}</b> <br>
                            <small>(ID: {{buyer.ID}})</small>
                        </h5>
                        <p class="small text-center text-muted" style="margin-top:15px; margin-bottom:0;" ng-if="buyer.Assigned">This price is assigned to the entire buyer organization.</p>
                    </div>
                    <div class="table-responsive" ng-if="!buyer.Assigned">
                        <table class="table table-condensed table-striped table-bordered">
                            <colgroup>
                                <col style="width:45px;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" ng-model="buyer.allGroupsSelected" ng-change="productPricing.selectAllUserGroups(this)">
                                </th>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="userGroup in buyer.UserGroups">
                                <td class="text-center">
                                    <input type="checkbox" ng-model="userGroup.selected" ng-change="productPricing.selectUserGroup(buyer, this)">
                                </td>
                                <td>
                                    <a href="" ui-sref="userGroup({buyerid:buyer.ID, usergroupid:userGroup.ID})">{{userGroup.ID}}</a>
                                </td>
                                <td>{{userGroup.Name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
