<form class="row" name="CreateAssignmentForm" autocomplete="off" novalidate>
    <div class="col-sm-7">
        <h4>
            Price Information
        </h4>
        <div class="form-horizontal">
            <fieldset class="form-group">
                <label for="ID" class="col-sm-3 control-label">Price ID</label>
                <div class="col-sm-9">
                    <input id="ID" name="ID" type="text" placeholder="(Optional)" class="form-control" ng-model="productCreateAssignment.priceSchedule.ID"/>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="Name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input id="Name" name="Name" type="text" class="form-control" ng-model="productCreateAssignment.priceSchedule.Name" required/>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label for="ApplyTax">
                            <input id="ApplyTax" name="ApplyTax" type="checkbox" ng-model="productCreateAssignment.priceSchedule.ApplyTax"> Apply Tax
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="ApplyShipping">
                            <input id="ApplyShipping" name="ApplyShipping" type="checkbox" ng-model="productCreateAssignment.priceSchedule.ApplyShipping"> Apply Shipping
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="radio">
                        <label for="OpenQuantity">
                            <input id="OpenQuantity" name="OpenQuantity" type="radio" ng-model="productCreateAssignment.priceSchedule.RestrictedQuantity" ng-value="false"> Open Quantity
                        </label>
                    </div>
                    <div class="radio">
                        <label for="RestrictedQuantity">
                            <input id="RestrictedQuantity" name="RestrictedQuantity" type="radio" ng-model="productCreateAssignment.priceSchedule.RestrictedQuantity" ng-value="true"> Restricted Quantity
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="MinQuantity" class="col-sm-3 control-label">Min Quantity</label>
                <div class="col-sm-9">
                    <input id="MinQuantity" name="MinQuantity" type="number" class="form-control"
                           min="1"
                           ng-max="productCreateAssignment.priceSchedule.MaxQuantity"
                           ng-disabled="productCreateAssignment.priceSchedule.RestrictedQuantity"
                           ng-model="productCreateAssignment.priceSchedule.MinQuantity"/>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="MaxQuantity" class="col-sm-3 control-label">Max Quantity</label>
                <div class="col-sm-9">
                    <input id="MaxQuantity" name="MaxQuantity" placeholder="(Optional)"  type="number" class="form-control"
                           ng-min="productCreateAssignment.priceSchedule.MinQuantity"
                           ng-disabled="productCreateAssignment.priceSchedule.RestrictedQuantity"
                           ng-model="productCreateAssignment.priceSchedule.MaxQuantity"/>
                </div>
            </fieldset>
        </div>


        <hr />
        <h4>Price Breaks</h4>
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="priceSchedulePBQInput">Quantity</label>
                <input id="priceSchedulePBQInput" type="number" min="1" class="form-control"
                       ng-model="productCreateAssignment.quantity" />
            </div>
            <div class="form-group col-sm-5">
                <label for="priceSchedulePBPInput">Price (each)</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-dollar"></i>
                    </span>
                    <input id="priceSchedulePBPInput" type="number" placeholder="0.00" step="0.01" min="0" class="form-control"
                           ng-model="productCreateAssignment.price" />
                </div>
            </div>
            <div class="form-group col-sm-2">
                <br>
                <button type="button" class="btn btn-default form-control addps"
                        ng-disabled="!productCreateAssignment.price || !productCreateAssignment.quantity"
                        ng-click="productCreateAssignment.addPriceBreak()"><i class="fa fa-plus-circle"></i> Add
                </button>
            </div>
        </div>
        <div class="form-group" ng-if="productCreateAssignment.priceSchedule.PriceBreaks.length">
            <div class="panel panel-default table-responsive">
                <section class="table-fixed-header">
                    <div class="table-header-bg"></div>
                    <div class="table-container">
                        <table class="table table-striped">
                            <colgroup>
                                <col class="action-column"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>
                                    <div>Quantity</div>
                                </th>
                                <th>
                                    <div>Price</div>
                                </th>
                                <th>
                                    <div></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="pricebreak in productCreateAssignment.priceSchedule.PriceBreaks | orderBy: 'Quantity' track by $index">
                                <td ng-if="productCreateAssignment.priceSchedule.RestrictedQuantity">
                                    {{pricebreak.Quantity}}
                                </td>
                                <td ng-if="!productCreateAssignment.priceSchedule.RestrictedQuantity">
                                    {{pricebreak.displayQuantity}}
                                </td>
                                <td ng-if="productCreateAssignment.priceSchedule.RestrictedQuantity">
                                    {{pricebreak.Price * pricebreak.Quantity | currency}}
                                </td>
                                <td ng-if="!productCreateAssignment.priceSchedule.RestrictedQuantity">
                                    {{pricebreak.Price | currency}}
                                </td>
                                <td class="text-center">
                                    <a class="fa fa-trash" ng-click="productCreateAssignment.deletePriceBreak($index)"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <h4>Availability</h4>
        <p class="text-muted">
            You can assign a product to an entire Buyer Company or specific User Groups. User Group assignments will take precedence over Buyer Company assignments.
        </p>
        <div class="form-group">
            <label>Select Buyer</label>
            <ui-select ng-model="productCreateAssignment.selectedBuyer"
                       close-on-select="true"
                       ng-change="productCreateAssignment.getBuyerUserGroups()">
                <ui-select-match>
                    <span ng-bind="$select.selected.Name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="group in (productCreateAssignment.buyers.Items | filter: $select.search) track by $index">
                    <span ng-bind="group.Name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-if="productCreateAssignment.selectedBuyer">
            <div class="well well-lg text-center" ng-if="!productCreateAssignment.buyerUserGroups.Items.length">
                <b><i class="fa fa-search"></i> No UserGroups under this buyer</b>
            </div>
            <div class="form-group" ng-if="productCreateAssignment.buyerUserGroups.Items.length">
                <label>
                    <input type="checkbox" ng-model="productCreateAssignment.assignAtUserGroupLevel" />
                    Assign at User Group Level
                </label>
            </div>
            <div ng-if="productCreateAssignment.assignAtUserGroupLevel">
                <div class="form-group">
                    <label>Select User Group(s)</label>
                    <ui-select multiple ng-model="productCreateAssignment.selectedUserGroups"
                               close-on-select="false">
                        <ui-select-match>
                            {{$item.Name}}
                            <span ng-bind="$select.selected.Name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="group in (productCreateAssignment.buyerUserGroups.Items | filter: $select.search) track by $index">
                            <span ng-bind="group.Name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default" ui-sref="^.pricing">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="productCreateAssignment.saveAssignment()"
                ng-disabled="!(productCreateAssignment.selectedBuyer && productCreateAssignment.priceSchedule.Name && productCreateAssignment.priceSchedule.PriceBreaks.length )">
            Save New Price
        </button>
    </div>
</form>