<form name="EditForm" ng-submit="editProductModal.updateProduct()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">
            <button type="button" class="close" aria-label="Close" ng-click="editProductModal.cancel()"><span
                    aria-hidden="true">&times;</span></button>
            <b>Edit Product:</b> {{editProductModal.productName}}
        </h3>
    </div>
    <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-10">
                    <label for="productIDInput">Product ID</label>
                    <input id="productIDInput" type="text" class="form-control" pattern="([A-Za-z0-9\-\_]+)"
                           pattern-err-type="ID_Name" ng-model="editProductModal.product.ID" ng-required="true"/>
                </div>
                <div class="col-sm-2">
                    <label for="productActiveInput"></label>
                    <input class="form-group" id="productActiveInput" type="checkbox" ng-model="editProductModal.product.Active"/>
                    Active
                </div>
            </div>

                <div class="form-group">
                    <label for="productNameInput">Product Name</label>
                    <input id="productNameInput" type="text" class="form-control"
                           ng-model="editProductModal.product.Name" ng-required="true"/>
                </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="productDescriptionInput">Description</label>
                    <textarea id="productDescriptionInput" type="text" class="form-control"
                              ng-model="editProductModal.product.Description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="productQuantityMultInput">Quantity Multiplier</label>
                    <input id="productQuantityMultInput" type="number" pattern="^[0-9]*[1-9][0-9]*$"
                           pattern-err-type="positiveInteger" class="form-control"
                           ng-model="editProductModal.product.QuantityMultiplier" ng-required="true"/>
                </div>
                <div class="form-group col-sm-3">
                    <label for="productShipWeightInput">Shipping: Weight</label>
                    <input id="productShipWeightInput" type="number" step="any" pattern="^[0-9]*[1-9][0-9]*$"
                           pattern-err-type="positiveInteger" class="form-control"
                           ng-model="editProductModal.product.ShipWeight"/>
                </div>

            <!--<div class="row">-->
                <div class="form-group col-sm-2">
                    <label for="productQuantityMultInput">Height</label>
                    <input id="productShipHeightInput" type="number" step="any" pattern="^[0-9]*[1-9][0-9]*$"
                           pattern-err-type="positiveInteger" class="form-control"
                           ng-model="editProductModal.product.ShipHeight"/>
                </div>
                <div class="form-group col-sm-2">
                    <label for="productQuantityMultInput">Width</label>
                    <input id="productShipWidthInput" type="number" step="any" pattern="^[0-9]*[1-9][0-9]*$"
                           pattern-err-type="positiveInteger" class="form-control"
                           ng-model="editProductModal.product.ShipWidth"/>
                </div>
                <div class="form-group col-sm-2">
                    <label for="productShipWeightInput">Length</label>
                    <input id="productShipLengthInput" type="number" step="any" pattern="^[0-9]*[1-9][0-9]*$"
                           pattern-err-type="positiveInteger" class="form-control"
                           ng-model="editProductModal.product.ShipLength"/>
                </div>
            </div>
            <!--</div>-->
            <!--<div class="panel panel-default col-sm-8">-->
                <!--<div class="panel-body">-->
            <fieldset>
                <legend>Inventory Options:</legend>
                <div class="form-group">
                    <label for="productInventory2Input">
                        <input id="productInventory2Input" type="checkbox"
                               ng-model="editProductModal.product.InventoryEnabled"/>
                        Track Inventory
                    </label>
                </div>
            </fieldset>
                    <!--<div class="row">-->
                        <!--<div class="form-group col-sm-6">-->
                            <!--Inventory Options:-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                       <!---->
                    <!--</div>-->
                    <div class="panel panel-default" ng-show="editProductModal.product.InventoryEnabled">
                        <div class="panel-header"></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="productInventoryInput">Inventory Notification Point</label>
                                <input id="productInventoryInput" type="number" class="form-control"
                                       ng-model="editProductModal.product.InventoryNotificationPoint"/>
                            </div>
                            <div class="row">
                                <div ng-show="editProductModal.product.InventoryEnabled">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="productInventory3Input">
                                                <input id="productInventory3Input" type="checkbox"
                                                       ng-model="editProductModal.product.VariantLevelInventory"/>
                                                Variant Level
                                                Inventory
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="productInventory4Input">
                                            <input id="productInventory4Input" type="checkbox"
                                                   ng-model="editProductModal.product.ExceedInventory"/>
                                             Can Exceed Inventory
                                        </label>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="productInventory5Input">
                                            <input id="productInventory5Input" type="checkbox"
                                                   ng-model="editProductModal.product.DisplayInventory"/>
                                             Display Inventory
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
            <!--</div>-->
            <div class="col-sm-4">
                <ordercloud-file-upload model="editProductModal.product" keyname="image" label="Image"
                                        extensions="jpg, png, gif, jpeg, tiff"></ordercloud-file-upload>
            </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="ProductEditForm.$invalid">Save</button>
            </div>
        </div>
    </div>
</form>