<!--<button class="btn btn-default" ui-sref="buyers"><i class="fa fa-arrow-left"></i> Back</button>-->
<header class="jumbotron">
    <h3><small>Buyer Organization</small>
    <br>
    {{buyerDetails.selectedBuyer.Name}}</h3>
</header>
<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: application.$state.includes('users')}">
        <a ui-sref="users({ search: '', sortBy: '', filters: '', page: ''})">Users</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('userGroups')}">
        <a ui-sref="userGroups({ search: '', sortBy: '', filters: '', page: ''})">User Groups</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('catalogManagement')}">
        <a ui-sref="catalogManagement({ search: '', sortBy: ''})">Catalog Management</a>
    </li>
</ul>
<br>
<ui-view></ui-view>