<form name="buyerCreateModal.form" class="form-horizontal" ng-submit="buyerCreateModal.submit()" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="buyerCreateModal.cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Buyer Organization</h4>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label for="buyerID" class="control-label col-sm-3">Buyer ID</label>
            <div class="col-sm-9">
                <input id="buyerID" name="ID" type="text" ng-change="buyerCreateModal.updateValidity()" placeholder="(Optional)" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" class="form-control" ng-model="buyerCreateModal.buyer.ID"/>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="buyerName" class="control-label col-sm-3">Buyer Name</label>
            <div class="col-sm-9">
                <input id="buyerName" name="Name"  type="text" ng-model="buyerCreateModal.buyer.Name" class="form-control" required>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label for="buyerActiveCheckbox">
                        <input id="buyerActiveCheckbox" name="Active" type="checkbox" ng-model="buyerCreateModal.buyer.Active"/>
                        Active
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-primary" ng-disabled="buyerCreateModal.form.$invalid" cg-busy="buyerCreateModal.loading">Submit</button>
    </div>
</form>