<article ui-view>
    <button type="button" class="btn btn-default" aria-label="Close"
            ui-sref="products"><i class="fa fa-angle-left" aria-hidden="true"></i> Products
    </button>
    <h3 class="page-header">
        {{details.product.Name}}
        <span class="text-center" data-title="Active">
            <i class="fa" ng-class="{'fa-circle text-success': details.product.Active, 'fa-circle text-muted': !details.product.Active}"></i>
        </span>
    </h3>
    <div class="row">
        <div class="col-sm-6">
            <h5><b>Name: </b> {{details.product.Name}}</h5>
            <h5><b>ID: </b> {{details.product.ID}}</h5>
            <h5><b>Description: </b> {{details.product.Description}}</h5>
            <h5><b>Quantity Multiplier: </b> {{details.product.QuantityMultiplier}}x</h5>
            <h5><b>Inventory Enabled: </b> {{details.product.InventoryEnabled}}</h5>
            <h5><b>Inventory Visible: </b> {{details.product.InventoryVisible}}</h5>
            <h5><b>Ship Weight: </b> {{details.product.ShipWeight}}</h5>
            <h5><b>Ship Height: </b> {{details.product.ShipHeight}}</h5>
            <h5><b>Ship Width: </b> {{details.product.ShipWidth}}</h5>
            <h5><b>Ship Length: </b> {{details.product.ShipLength}}</h5>
            <h5 ng-if="details.product.ShipFromAddressID"><b>Ship From Address: </b> {{details.product.ShipFromAddressID}}</h5>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" ng-src="{{details.product.xp.image.URL || 'http://placehold.it/300x300'}}" alt="Product Image">{{details.product.xp.image.URL}}
        </div>
    </div>
    <button class="btn btn-default" ng-click="details.editProduct()">Edit</button>

        <div class="btn-toolbar pull-right">
            <button class="btn btn-primary" ng-click="details.newAssignment()"><i
                    class="fa fa-plus-circle"></i> New Assignment
            </button>
        </div>
    <!--<oc-assignment-list productid="details.product.ID"></oc-assignment-list>-->
    <div class="page-header">
        <h3>Price schedules assigned to this product</h3>
    </div>
    <div class="well well-lg text-center" ng-if="!details.listAssignments">
    <b>This product does not have any assignments for the active Buyer company.</b>
    </div>
    <!--====== LIST ======-->
    <div ng-if="details.listAssignments">

        <table class="table table-hover table-condensed oc-table-responsive">
            <thead>
            <tr>
                <th><div>Name</div></th>
                <th><div>ID</div></th>
                <th><div>First Price Break</div></th>
                <th><div>Buyers</div></th>
                <th><div>User Groups</div></th>
                <th><div></div></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" assignment  in details.listAssignments">
                <td>{{assignment.PriceSchedule.Name}}</td>
                <td>{{assignment.PriceSchedule.ID}}</td>
                <td>{{assignment.PriceSchedule.PriceBreaks[0].Price | currency}}</td>
                <td>{{assignment.Buyers.length}}</td>
                <td>{{assignment.UserGroups.length}}</td>
                <td>
                    <button class="btn btn-default btn-sm pull-right" ui-sref=".price({pricescheduleid: assignment.PriceSchedule.ID})">View Details</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-danger pull-right" ng-click="details.deleteProduct()">Delete Product</button>
    </div>
</article>
