<div class="c-file-upload" ng-class="{'has-error': invalidExtension}">
    <figure class="thumbnail" ng-show="fileUploadModel[fileUploadOptions.keyname][fileUploadOptions.srcKeyname]">
        <img class="img-responsive" ng-src="{{fileUploadModel[fileUploadOptions.keyname][fileUploadOptions.srcKeyname]}}" alt="Product Image">
        <div class="caption text-center">
            <button type="button" class="btn btn-sm btn-danger" ng-click="removeFile($index)" ng-if="fileUploadModel[fileUploadOptions.keyname][fileUploadOptions.srcKeyname]" oc-prevent-click>
                <i class="fa fa-times"></i> Remove
            </button>
            <button type="button" class="btn btn-sm btn-info" ng-click="openModal()" oc-prevent-click>
                <i class="fa fa-cog"></i> Edit
            </button>
        </div>
    </figure>
    <button class="btn btn-default btn-block" 
            type="button"
            ng-click="openModal()" 
            ng-if="!fileUploadModel[fileUploadOptions.keyname][fileUploadOptions.srcKeyname]" 
            value="{{fileUploadOptions.uploadText}}">
            <i class="fa fa-plus-circle"></i>
            {{fileUploadOptions.uploadText}}
    </button>
</div>