<nav id="GlobalNav" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-sm offcanvas-xs" role="navigation">
    <a class="navmenu-brand hidden-xs hidden-sm" href="" ui-sref="home">{{application.name}}</a>
    <ul class="nav navmenu-nav">
        <li ng-class="{active: application.$state.is('products') || application.$state.includes('productDetail')}" oc-if-roles="ProductRoles">
            <a ng-click="base.selectNavItem('products')"><i class="fa fa-cube"></i> Product Management</a>
        </li>
        <li ng-class="{active: application.$state.is('catalogs') || application.$state.includes('catalog')}" oc-if-roles="ProductRoles">
            <a ng-click="base.selectNavItem('catalogs')"><i class="fa fa-sitemap"></i> Catalog Management</a>
        </li>        
        <li ng-class="{active: application.$state.is('buyers') || application.$state.includes('buyer')}"> <!--TODO: Add oc-if-roles="CatalogRoles"-->
            <a ng-click="base.selectNavItem('buyers')"><i class="fa fa-tags"></i> Buyer Organizations</a>
        </li>
        <li ng-class="{active: application.$state.is('orders') || application.$state.includes('orderDetail')}" oc-if-roles="OrderRoles">
            <a ng-click="base.selectNavItem('orders')"><i class="fa fa-inbox"></i> Order Management</a>
        </li>
        <li ng-class="{active: application.$state.is('sellerUsers')}" oc-if-roles="SellerUserRoles">
            <a ng-click="base.selectNavItem('sellerUsers')"><i class="fa fa-user"></i> Seller Users</a>
        </li>
        <li ng-class="{active: application.$state.is('sellerUserGroups') || application.$state.includes('adminUserGroup')}" oc-if-roles="SellerUserGroupRoles">
            <a ng-click="base.selectNavItem('sellerUserGroups')"><i class="fa fa-users"></i> Seller User Groups</a>
        </li>
        <li ng-class="{active: application.$state.is('sellerAddresses')}" oc-if-roles="AddressRoles">
            <a ng-click="base.selectNavItem('sellerAddresses')"><i class="fa fa-map-marker"></i> Seller Addresses</a>
        </li>
        <li ng-class="{active: application.$state.is('permissions')}">
            <a ng-click="base.selectNavItem('permissions')"><i class="fa fa-lock"></i> Permissions</a>
        </li>
        <li ng-class="{active: application.$state.is('account')}">
            <a ng-click="base.selectNavItem('account')"><i class="fa fa-user-circle-o"></i> Account</a>
        </li>
    </ul>
</nav>
<nav class="navbar navbar-default navbar-unstacked navbar-fixed-top navmenu-on-canvas-lg navmenu-on-canvas-md" ng-if="application.$ocMedia('max-width:991px')">
    <div class="container container-smooth">
        <div class="navbar-header">
            <a class="navbar-brand" ng-click="base.toggleGlobalNav()">
                <i class="fa fa-bars"></i>
            </a>
            <a class="navbar-brand" ui-sref="home">
                {{application.name}}
            </a>
        </div>
    </div>
</nav>
<main ui-view class="container container-smooth" cg-busy="application.stateLoading('base')"></main>