<div class="container">
  <div class="c-topnav">
    <div class="c-topnav__group--left">
      <!--BRAND-->
      <div class="c-topnav__item c-topnav__brand">
        <a ui-sref="home">
          {{application.name}}
        </a>
      </div>
      <!--Catalog Management-->
      <div class="c-topnav__item">
        <a ui-sref="catalogs"><i class="fa fa-th" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Catalog Management</span></a>
      </div>
      <div class="c-topnav__item">
        <a ui-sref="products"><i class="fa fa-archive" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Product Management</span></a>
      </div>
      <div class="c-topnav__item">
        <a ui-sref="buyers"><i class="fa fa-university" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Buyer Management</span></a>
      </div>
      <!--&lt;!&ndash;MOBILE PRODUCT SEARCH&ndash;&gt;-->
      <!--<div class="c-topnav__item c-topnav__search hidden-lg hidden-md">-->
        <!--<a href="" ng-click="base.mobileSearch()"><i class="fa fa-search"></i></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;DESKTOP PRODUCT SEARCH&ndash;&gt;-->
    <!--<ordercloud-product-search class="c-topnav__item c-topnav__search hidden-xs hidden-sm"></ordercloud-product-search>-->
    <!--<div class="c-topnav__group&#45;&#45;right">-->
      <!--&lt;!&ndash;CART&ndash;&gt;-->
      <!--<div class="c-topnav__item c-topnav__cart">-->
        <!--<a ui-sref="cart" ui-sref-opts="{reload:'base'}"><i class="fa fa-shopping-cart"></i> <span class="sr-only">Shopping Cart</span> <span class="badge" ng-bind="base.currentOrder.LineItemCount"></span></a>-->
      <!--</div>-->
      <!--ACCOUNT-->
      <div class="c-topnav__item c-topnav__account" uib-dropdown ng-if="!base.currentUser.Anonymous">
        <a uib-dropdown-toggle role="button"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm">Account</span> <span class="caret hidden-xs"></span></a>
        <ul class="dropdown-menu-right" uib-dropdown-menu>
          <!--<li class="dropdown-header">{{base.currentUser.FirstName + ' ' + base.currentUser.LastName}}</li>-->
          <!--<li><a ui-sref="account.information">Account</a></li>-->
          <!--<li><a ui-sref="myAddresses">My Addresses</a></li>-->
          <!--<li><a ui-sref="myPayments">My Payments</a></li>-->

					<!--<li><a ui-sref="favoriteProducts">My Favorite Products</a></li>-->
          <!--<li><a ui-sref="myOrders">My Orders</a></li>-->
          <!--<li class="divider"></li>-->
          <li><a ng-click="application.logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
