<ul class="breadcrumb">
    <li><a href="" ui-sref="buyers">Buyers</a></li>
    <li class="active" ui-sref="buyer">{{buyer.selectedBuyer.Name}}</li>
</ul>
<div class="l-page-header l-page-header-xs">
    <div class="l-page-header__img" ng-if="buyer.selectedBuyer.xp && buyer.selectedBuyer.xp.image && buyer.selectedBuyer.xp.image.URL">
        <figure class="c-logo-display">
            <div role="img" ng-style="{'background-image':'url(\'' + buyer.selectedBuyer.xp.image.URL + '\')'}"></div>
        </figure>
    </div>
    <h3 class="l-page-header__title">
        {{buyer.selectedBuyer.Name}} <br>
        <small>(ID: {{buyer.selectedBuyer.ID}})</small>
    </h3>
</div>
<article>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: application.$state.is('buyer')}">
            <a ui-sref="buyer"><i class="fa fa-cog"></i> Settings</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="buyerSecurity"><i class="fa fa-lock"></i> Security</a>
        </li>
        <li role="presentation" ng-class="{active: application.$state.includes('catalogManagement')}" oc-if-roles="CategoryRoles">
            <a ui-sref="catalogManagement({ search: '', sortBy: ''})"><i class="fa fa-sitemap"></i> Catalog</a>
        </li>
        <li role="presentation" class="hidden-xs" ng-class="{active: application.$state.includes('users')}" oc-if-roles="BuyerUserRoles">
            <a ui-sref="users({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-user"></i> Users</a>
        </li>
        <li role="presentation" class="hidden-xs" ng-class="{active: application.$state.includes('userGroups') || application.$state.includes('userGroup')}" oc-if-roles="UserGroupRoles">
            <a ui-sref="userGroups({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-users"></i> User Groups</a>
        </li>
        <li role="presentation" class="hidden-xs" ng-class="{active: application.$state.is('addresses') || application.$state.is('address')}" oc-if-roles="AddressRoles">
            <a ui-sref="addresses({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-map-marker"></i> Addresses</a>
        </li>
        <li role="presentation" class="hidden-xs hidden-sm hidden-md" ng-class="{active: application.$state.includes('creditCards')}" oc-if-roles="CreditCardRoles">
            <a ui-sref="creditCards({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-credit-card"></i> Credit Cards</a>
        </li>
        <li role="presentation"  ng-class="{active:
            application.$state.is('spendingAccounts') || application.$state.is('costCenters')}"
            uib-dropdown ng-if="application.$ocMedia('max-width:767px') ? application.userIsAuthorized(['BuyerUserReader', 'BuyerUserAdmin', 'UserGroupReader', 'UserGroupAdmin', 'AddressReader', 'AddressAdmin', 'CreditCardReader', 'CreditCardAdmin'], true) : application.userIsAuthorized(['SpendingAccountReader', 'SpendingAccountAdmin', 'CostCenterReader', 'CostCenterAdmin', 'PromotionReader', 'PromotionAdmin'], true)">
            <a uib-dropdown-toggle>More <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu-right" uib-dropdown-menu>
                <li role="presentation" class="visible-xs" ng-class="{active: application.$state.includes('users')}" oc-if-roles="BuyerUserRoles">
                    <a ui-sref="users({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-user"></i> Users</a>
                </li>
                <li role="presentation" class="visible-xs" ng-class="{active: application.$state.includes('userGroups')}" oc-if-roles="UserGroupRoles">
                    <a ui-sref="userGroups({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-users"></i> User Groups</a>
                </li>
                <li role="presentation" class="visible-xs" ng-class="{active: application.$state.includes('addresses')}" oc-if-roles="AddressRoles">
                    <a ui-sref="addresses({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-map-marker"></i> Addresses</a>
                </li>
                <li role="presentation" class="hidden-lg" ng-class="{active: application.$state.includes('creditCards')}" oc-if-roles="CreditCardRoles">
                    <a ui-sref="creditCards({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-credit-card"></i> Credit Cards</a>
                </li>
                <li role="presentation" ng-class="{active: application.$state.includes('spendingAccounts')}" oc-if-roles="SpendingAccountRoles">
                    <a ui-sref="spendingAccounts({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-dollar"></i> Spending Accounts</a>
                </li>
                <li role="presentation" ng-class="{active: application.$state.includes('costCenters')}" oc-if-roles="CostCenterRoles">
                    <a ui-sref="costCenters({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-asterisk"></i> Cost Centers</a>
                </li>
                <li role="presentation" ng-class="{active: application.$state.includes('approvalRules')}" oc-if-roles="ApprovalRuleRoles">
                    <a ui-sref="approvalRules({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-check-square-o"></i> Approval Rules</a>
                </li>
                <li role="presentation" ng-class="{active: application.$state.includes('promotions')}" oc-if-roles="PromotionRoles">
                    <a ui-sref="promotions({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-bullhorn"></i> Promotions</a>
                </li>
            </ul>
        </li>

    </ul>
    <br>
    <div ui-view cg-busy="application.stateLoading('buyer')">
        <div class="row">
            <div class="col-sm-7 col-md-6" oc-readonly-roles="BuyerAdmin">
                <form ng-submit="buyer.updateBuyer()" class="form-horizontal" name="buyer.settingsForm" novalidate autocomplete="off">

                    <div class="form-group">
                        <label for="buyerIDInput" class="control-label col-sm-3">Buyer ID</label>
                        <div class="col-sm-9">
                            <input id="buyerIDInput" name="buyerIDinput" ng-change="buyer.updateValidity()" type="text" placeholder="(Optional)" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" class="form-control" ng-model="buyer.settings.ID" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="buyerNameInput" class="control-label col-sm-3">Name</label>
                        <div class="col-sm-9">
                            <input id="buyerNameInput" name="buyerNameinput" type="text" ng-model="buyer.settings.Name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label for="buyerActiveCheckbox">
                                    <input id="buyerActiveCheckbox" name="buyerActiveCheckbox" type="checkbox" ng-model="buyer.settings.Active"/>
                                    Active
                                </label>
                            </div>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <label for="orderCloudUpload" class="col-sm-3 control-label">Logo</label>
                        <div class="col-sm-9">
                            <oc-file-upload model="buyer.settings" keyname="logo" extensions="jpg, png, gif, jpeg, tiff"></oc-file-upload>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-block btn-primary" cg-busy="buyer.updateLoading" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
                <hr>
                <button class="btn btn-block btn-danger" type="button" ng-click="buyer.deleteBuyer()"><i class="fa fa-trash-o"></i> Delete Buyer Organization</button>
            </div>
        </div>
    </div>
</article>