<ul class="nav" ng-class="{'nav-tabs': !application.$ocMedia('max-width:767px'), 'nav-pills nav-stacked': application.$ocMedia('max-width:767px')}">
    <li role="presentation" ng-class="{active:application.$state.is('buyer')}">
        <a ui-sref="buyer"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li role="presentation" ui-sref-active="active">
        <a ui-sref="buyerPermissions"><i class="fa fa-lock"></i> Permissions</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('buyerCatalog') || application.$state.is('buyerCatalogs')}"> <!-- TODO: oc-if-roles="CatalogRoles"-->
        <a ui-sref="buyerCatalogs({ search: '', sortBy: ''})"><i class="fa fa-sitemap"></i> Catalogs</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.is('buyerProducts')}"> <!-- TODO: oc-if-roles="CatalogRoles"-->
        <a ui-sref="buyerProducts({ search: '', sortBy: ''})"><i class="fa fa-cube"></i> Products</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('users')}" oc-if-roles="BuyerUserRoles">
        <a ui-sref="users({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-user"></i> Users</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('userGroups') || application.$state.includes('userGroup')}" oc-if-roles="UserGroupRoles">
        <a ui-sref="userGroups({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-users"></i> User Groups</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.is('addresses') || application.$state.is('address')}" oc-if-roles="AddressRoles">
        <a ui-sref="addresses({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-map-marker"></i> Addresses</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('creditCards')}" oc-if-roles="CreditCardRoles">
        <a ui-sref="creditCards({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-credit-card"></i> Credit Cards</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('spendingAccounts')}" oc-if-roles="SpendingAccountRoles">
        <a ui-sref="spendingAccounts({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-dollar"></i> Spending Accounts</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('costCenters')}" oc-if-roles="CostCenterRoles">
        <a ui-sref="costCenters({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-asterisk"></i> Cost Centers</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('approvalRules')}" oc-if-roles="ApprovalRuleRoles">
        <a ui-sref="approvalRules({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-check-square-o"></i> Approval Rules</a>
    </li>
    <li role="presentation" ng-class="{active: application.$state.includes('promotions')}" oc-if-roles="PromotionRoles">
        <a ui-sref="promotions({ search: '', sortBy: '', filters: '', page: ''})"><i class="fa fa-bullhorn"></i> Promotions</a>
    </li>
</ul>