<form name="adminUserCreateModal.form" class="form-horizontal" ng-submit="adminUserCreateModal.submit()" novalidate>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="adminUserCreateModal.cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Admin User</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="ID" class="control-label col-sm-3">ID</label>
            <div class="col-sm-9">
                <input id="ID" name="ID" type="text" placeholder="(Optional)" pattern="([A-Za-z0-9\-\_]+)" pattern-err-type="ID_Name" class="form-control" ng-model="adminUserCreateModal.user.ID"/>
            </div>
        </div>
        <div class="form-group">
            <label for="Username" class="control-label col-sm-3">Username</label>
            <div class="col-sm-9">
                <input id="Username" name="Username" type="text" class="form-control" ng-model="adminUserCreateModal.user.Username" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="control-label col-sm-3">Password</label>
            <div class="col-sm-9">
                <input id="Password" name="Password" type="password" pattern='^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%@#£€*?&]{8,}$' pattern-err-type="customPassword" class="form-control" ng-model="adminUserCreateModal.user.Password" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="FirstName" class="control-label col-sm-3">First Name</label>
            <div class="col-sm-9">
                <input id="FirstName" name="FirstName" type="text" class="form-control" ng-model="adminUserCreateModal.user.FirstName" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="LastName" class="control-label col-sm-3">Last Name</label>
            <div class="col-sm-9">
                <input id="LastName" name="LastName" type="text" class="form-control" ng-model="adminUserCreateModal.user.LastName" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="Phone" class="control-label col-sm-3">Phone Number</label>
            <div class="col-sm-9">
                <input id="Phone" name="Phone" placeholder="(Optional)" type="tel" class="form-control" ng-model="adminUserCreateModal.user.Phone" />
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="control-label col-sm-3">Email Address</label>
            <div class="col-sm-9">
                <input id="Email" name="Email" type="email" class="form-control" ng-model="adminUserCreateModal.user.Email" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label for="Active">
                        <input id="Active" name="Active" type="checkbox" ng-model="adminUserCreateModal.user.Active"/>
                        Active
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-primary" ng-disabled="adminUserCreateModal.form.form" cg-busy="adminUserCreateModal.loading">Submit</button>
    </div>
</form>